{% extends "base.html" %}
{% load static %}
{% block page_title %}Repository{% endblock page_title %}
<head>
    {% block css %}
        <link rel="stylesheet" href="{% static 'css/repository/repository.css' %}">
    {% endblock css %}
</head>
{% block islogin %}
{% if request.user.is_authenticated %}
<a href="{% url 'users:logout' %}">Log out</a>
{% endif %} 
{% if request.user.is_authenticated is False %}
<a href="{% url 'users:login' %}">Log In</a>
{% endif %} 
{% endblock islogin %}
{% block content%}
<div class="allrepo">
<figure>
<img class="repofile1" src = "{% static 'image/repositoryfile.png'%}">
<figcaption>모두 보기</figcaption>
</figure>
<figure>
    <a href="{% url 'repositories:portfolio' %}">
        <img class="repofile2" src = "{% static 'image/repositoryfile.png'%}">
    </a>
<figcaption>PORTFOLIO</figcaption>
</figure>
<figure>
<img class="repofile3" src = "{% static 'image/repositoryfile.png'%}">
<figcaption></figcaption>
</figure>
</div>
{% endblock content%}
