.status-bar {
  /* position: fixed; */
  top: 0;
  width: 100%; /*위에 줄은 status-bar를 위에 고정시키기 위한 것이다.*/
  display: flex;
  height: 5vh;
  justify-content: space-around;
  padding: 20px;
  z-index: 5;
  /* background-color: rgb(232, 234, 237); */
  background-color: black;
  opacity: 0.9;
  margin: 0;
}

.main_logo {
  font-size: 40px;
  font-weight: 1000;
  color: white;
  font-family: "Pretendard-Regular";
}

.login_button {
  margin-right: 30px;
  width: 100px;
  height: 40px;
  font-size: 15px;
  font-family: unset;
  font-weight: bolder;
  background-color: rgba(128, 128, 128, 0.7);
  border-radius: 10px;
  border: thin;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.videobox {
  margin-top: 0%;
}
.main_video {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  z-index: -100;
}

.video-title {
  position: relative;
  display: flex;
  justify-content: space-between;
  right: 10%;
}
.video-titles {
  margin-top: -100vh;
  width: 100%;
  height: 100vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.page_down {
  position: absolute;
  width: 4vh;
  height: 7vh;
  margin-top: 280vh;
  border: gray 1px solid;
  background-color: gray;
  opacity: 0.5;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
.page_down_button {
  margin-top: 1vh;
  color: white;
}
.video-title-main-title {
  font-size: 80px;
  font-family: "SLEIGothicTTF";
}
.video-title-main {
  position: absolute;
  font-size: 40px;
  font-weight: 800;
  color: white;
  top: 50vh;
  right: 0%;
}
.index_two {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url("/static/image/intro_logo_backgroundss.png");
  background-size: 35%;
  background-repeat: no-repeat;
  background-position: 52% 48%;
}
.index_two_logo_box {
  height: 12vh;
  width: 40vh;
  margin-bottom: 4vh;
  padding-left: 10px;
  margin: 10px;
}
.imagez {
  width: 100%;
  height: 100%;
}
.index_two_sub_title {
  font-size: 25px;
  font-weight: bold;
  font-size: 40px;
  font-family: "Pretendard-Regular";
}
.index_three {
  width: 100%;
  height: 110vh;
  background-color: hsl(177, 26%, 84%);
  display: grid;
  grid-template-columns: 5fr 6fr;
  grid-template-rows: 1fr;
}
.index_three_info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-top: 20vh;
}
.intro_portfolio_button_box {
  width: 65%;
  height: auto;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.intro_portfolio_button {
  width: 35vh;
  height: 9vh;
  border: gray 2px solid;
  margin-bottom: 35vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 5vh;
  font-size: x-large;
  border-radius: 5px;
}
.intro_portfolio_button:hover {
  opacity: 0.5;
  box-shadow: 0.5vh 0.5vh 5px rgba(109, 109, 109, 0.5);
}
.arrowhome {
  margin-right: 5vh;
  width: 8vh;
  height: 3vh;
}
.index_three_box {
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.index_three_sub_one_title {
  justify-content: center;
  align-items: center;
  font-size: 20px;
  font-weight: 800;
  color: black;
}
.index_three_title {
  font-size: 100px;
  font-weight: 800;
  color: white;
  font-family: "SDSamliphopangche_Basic";
}
.index_three_sub_two_title {
  font-size: 3vh;
  font-weight: 800;
  color: white;
  margin-top: 3vh;
  font-family: "Pretendard-Regular";
}
.index_three_window {
  display: flex;
  justify-content: center;
  align-items: center;
}
.index_three_real_window {
  width: 100vh;
  height: 75vh;
  margin-right: 10vh;
  background-color: hsl(177, 26%, 84%);
  border-radius: 20px;
  justify-content: center;
  align-items: center;
  font-size: 250px;
}
.imagetqqq {
  width: 100%;
  height: 100%;
}
.imaget {
  width: 100%;
  height: 100%;
  border-radius: 50px;
}
.image {
  width: 100%;
  height: 100%;
  border-radius: 50px;
}
.imagetq {
  width: 100%;
  height: 100%;
}
.index_four {
  width: 100%;
  height: 110vh;
  display: grid;
  grid-template-columns: 24fr 17fr;
  grid-template-rows: 1fr;
}
.index_four_left_imagebox {
  width: 100%;
  height: 70%;
  margin-top: 15%;
}
.intro_challenge_button_box {
  width: 65%;
  height: auto;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.index_five_info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20vh;
}
.index_four_right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.index_four_box {
  margin-top: 27vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.index_four_title {
  font-size: 70px;
  font-weight: 800;
  color: black;
  font-family: "SDSamliphopangche_Basic";
  margin-bottom: 5vh;
}
.index_four_sub_two_title {
  font-size: 3vh;
  font-weight: 800;
  color: black;
  margin-top: 2vh;
  font-family: "Pretendard-Regular";
}
.intro_challenge_button {
  width: 35vh;
  height: 9vh;
  border: gray 2px solid;
  margin-bottom: 35vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 5vh;
  font-size: x-large;
  border-radius: 5px;
  margin-top: 7vh;
}
.intro_challenge_button:hover {
  opacity: 0.5;
  box-shadow: 0.5vh 0.5vh 5px rgba(109, 109, 109, 0.5);
}
.index_five {
  width: 100%;
  height: 100vh;
  background-color: white;
  display: grid;
  grid-template-columns: 5fr 6fr;
  grid-template-rows: 1fr;
}
.index_record_info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-top: 20vh;
}
.intro_record_button {
  width: 35vh;
  height: 9vh;
  border: gray 2px solid;
  margin-bottom: 35vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 5vh;
  font-size: x-large;
  border-radius: 5px;
  margin-top: 7vh;
}
.intro_record_button:hover {
  opacity: 0.5;
  box-shadow: 0.5vh 0.5vh 5px rgba(109, 109, 109, 0.5);
}
.index_five_box {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90%;
}
.index_five_sub_one_title {
  justify-content: center;
  align-items: center;
  font-size: 20px;
  font-weight: 800;
  color: black;
}
.index_five_title {
  font-size: 70px;
  font-weight: 800;
  color: black;
  display: flex;
  justify-content: center;
  font-family: "SDSamliphopangche_Basic";
  margin-bottom: 4vh;
}
.index_five_sub_two_title {
  font-size: 3vh;
  font-weight: bolder;
  color: black;
  margin-top: 3vh;
  font-family: "Pretendard-Regular";
  display: flex;
  justify-content: center;
  align-items: center;
}
.index_five_window {
  display: flex;
  justify-content: center;
  align-items: center;
}
.index_five_real_window {
  width: 100%;
  height: auto;
  justify-content: center;
  align-items: center;
  font-size: 250px;
  position: relative;
  margin-right: 10%;
}
.imagetqqq {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.inner_video {
  position: absolute;
  margin-top: -58.4%;
  margin-left: 9.6%;
  width: 82%;
  height: 85.6%;
  background-color: black;
}
.main_videozzz {
  margin-top: 3%;
  width: 100%;
  height: auto;
}
.index_six {
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
}
.index_six_left {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.index_six_left_circle {
  width: 80vh;
  height: 80vh;
  border-radius: 100%;
}
.index_six_fight {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-left: 20%;
}
.index_six_fight_title {
  font-size: 70px;
  margin-bottom: 10vh;
}
.index_six_fight_text {
  margin-top: 1vh;
  font-size: 3vh;
  font-weight: bolder;
  font-family: "Pretendard-Regular";
}
.intro_repo_button {
  width: 35vh;
  height: 9vh;
  border: gray 2px solid;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 5vh;
  font-size: x-large;
  border-radius: 5px;
  margin-top: 6vh;
}
.intro_repo_button:hover {
  opacity: 0.5;
  box-shadow: 0.5vh 0.5vh 5px rgba(109, 109, 109, 0.5);
}
.imagepp {
  width: 100%;
  height: 100%;
}
.index_seven {
  width: 100%;
  height: 100vh;
}
.index_seven_title {
  width: 100%;
  height: 15vh;
  margin-top: 8vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.index_seven_real_title {
  font-size: 70px;
  font-weight: bolder;
  margin-left: 20vh;
  font-family: "SDSamliphopangche_Basic";
}
.intro_connect_button {
  width: 35vh;
  height: 9vh;
  border: gray 2px solid;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 5vh;
  font-size: x-large;
  border-radius: 5px;
  margin-right: 11vh;
}
.intro_connect_button:hover {
  opacity: 0.5;
  box-shadow: 0.5vh 0.5vh 5px rgba(109, 109, 109, 0.5);
}
.videoboxz {
  margin-left: 5%;
  width: 90%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
.main_videoz {
  width: 100%;
  height: 100%;
}
.index_seven_text {
  margin-left: 5%;
  width: 90%;
  height: 25vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  font-size: 4vh;
  font-weight: bolder;
}
.index_seven_textdowna {
  margin-top: 2vh;
  font-family: "Pretendard-Regular";
}
.index_seven_textdownc {
  font-family: "Pretendard-Regular";
}
.index_eight {
  width: 100%;
  height: 170vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.index_eight_one {
  margin-top: 10vh;
  font-size: 70px;
  font-weight: bolder;
  color: rgb(197, 202, 254);
  margin-bottom: 3vh;
  font-family: "Pretendard-Regular";
}
.index_eight_two {
  font-size: 60px;
  font-weight: bolder;
  color: #c5cafe;
  margin-bottom: 5vh;
  font-family: "Pretendard-Regular";
}
.index_eight_logo_box {
  height: 12vh;
  width: 40vh;
}
.index_eight_logo_box_box {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 3vh;
}
.eight_text {
  font-size: 8vh;
  margin-right: 5vh;
  color: #7f7f7f;
}
.footer {
  background-color: black;
  width: 100%;
  height: 25vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  color: white;
}
.footer_logo_box {
  width: 100%;
  height: 15vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  font-size: 70px;
  font-weight: bolder;
}
.footer_logo {
  margin-left: 10vh;
  font-size: 50px;
  font-family: "Pretendard-Regular";
}
.footer_tag {
  margin-right: 10vh;
  font-size: 50px;
}
.footer_text {
  width: 100%;
  height: 9vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  font-size: 15px;
}

@font-face {
  font-family: "SLEIGothicTTF";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2104@1.0/SLEIGothicTTF.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "SDSamliphopangche_Basic";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts-20-12@1.0/SDSamliphopangche_Basic.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Pretendard-Regular";
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff")
    format("woff");
  font-weight: 400;
  font-style: normal;
}
