.status-bar {
  position: fixed;
  top: 0;
  width: 100%; /*위에 줄은 status-bar를 위에 고정시키기 위한 것이다.*/
  display: flex;
  height: 5vh;
  justify-content: space-around;
  padding: 20px;
  z-index: 5;
  background-color: rgb(232, 234, 237);
  opacity: 0.9;
  margin: 0;
}

.main_logo {
  font-size: 30px;
  font-weight: 800;
  color: yellowgreen;
}

.login_button {
  margin-right: 30px;
  width: 100px;
  height: 40px;
  font-size: 15px;
  font-family: unset;
  font-weight: bold;
  background-color: rgba(128, 128, 128, 0.7);
  border-radius: 10px;
  border: thin;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.videobox {
  margin-top: 0%;
}
.main_video {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  z-index: -100;
}
.video-title {
  position: relative;
  display: flex;
  justify-content: space-between;
  right: 10%;
}
.video-title-main-title {
  font-size: 80px;
}
.video-title-main {
  position: absolute;
  font-size: 40px;
  font-weight: 800;
  color: white;
  top: 50vh;
  right: 0%;
}
.index_two {
  width: 100%;
  height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url("/static/image/intro_logo_backgroundss.png");
  background-size: 35%;
  background-repeat: no-repeat;
  background-position: 52% 48%;
}
.index_two_logo_box {
  height: 12vh;
  width: 40vh;
  margin-bottom: 2vh;
  padding-left: 10px;
  margin: 10px;
}
.imagez {
  width: 100%;
  height: 100%;
}
.index_two_sub_title {
  font-size: 25px;
  font-weight: bold;
  font-size: 40px;
}
.index_three {
  width: 100%;
  height: 110vh;
  background-color: hsl(177, 26%, 84%);
  display: grid;
  grid-template-columns: 5fr 6fr;
  grid-template-rows: 1fr;
}
.index_three_info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-top: 20vh;
}
.intro_portfolio_button {
  width: 35vh;
  height: 9vh;
  border: gray 2px solid;
  margin-bottom: 35vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 5vh;
  font-size: x-large;
  border-radius: 5px;
}
.intro_portfolio_button:hover {
  opacity: 0.5;
  box-shadow: 0.5vh 0.5vh 5px rgba(109, 109, 109, 0.5);
}
.arrowhome {
  margin-right: 5vh;
  width: 8vh;
  height: 3vh;
}
.index_three_box {
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.index_three_sub_one_title {
  justify-content: center;
  align-items: center;
  font-size: 20px;
  font-weight: 800;
  color: black;
}
.index_three_title {
  font-size: 100px;
  font-weight: 800;
  color: white;
}
.index_three_sub_two_title {
  font-size: 40px;
  font-weight: 800;
  color: white;
  margin-top: 3vh;
}
.index_three_window {
  display: flex;
  justify-content: center;
  align-items: center;
}
.index_three_real_window {
  width: 100vh;
  height: 75vh;
  margin-right: 10vh;
  background-color: hsl(177, 26%, 84%);
  border-radius: 20px;
  justify-content: center;
  align-items: center;
  font-size: 250px;
}
.imagetqqq {
  width: 100%;
  height: 100%;
}
.imaget {
  width: 100%;
  height: 100%;
  border-radius: 50px;
}
.image {
  width: 100%;
  height: 100%;
  border-radius: 50px;
}
.imagetq {
  width: 100%;
  height: 100%;
}
.index_four {
  width: 100%;
  height: 110vh;
  display: grid;
  grid-template-columns: 24fr 17fr;
  grid-template-rows: 1fr;
}
.index_four_left_imagebox {
  width: 100%;
  height: 70%;
  margin-top: 15%;
}
.index_five_info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20vh;
}
.index_four_right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.index_four_box {
  margin-top: 20vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.index_four_title {
  font-size: 70px;
  font-weight: 800;
  color: black;
}
.index_four_sub_two_title {
  font-size: 30px;
  font-weight: 800;
  color: black;
  margin-top: 3vh;
}
.intro_challenge_button {
  width: 35vh;
  height: 9vh;
  border: gray 2px solid;
  margin-bottom: 35vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 5vh;
  font-size: x-large;
  border-radius: 5px;
}
.intro_challenge_button:hover {
  opacity: 0.5;
  box-shadow: 0.5vh 0.5vh 5px rgba(109, 109, 109, 0.5);
}
.index_five {
  width: 100%;
  height: 100vh;
  background-color: white;
  display: grid;
  grid-template-columns: 5fr 8fr;
  grid-template-rows: 1fr;
}
.index_record_info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-top: 20vh;
}
.intro_record_button {
  width: 35vh;
  height: 9vh;
  border: gray 2px solid;
  margin-bottom: 35vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 5vh;
  font-size: x-large;
  border-radius: 5px;
  margin-top: 10vh;
}
.intro_record_button:hover {
  opacity: 0.5;
  box-shadow: 0.5vh 0.5vh 5px rgba(109, 109, 109, 0.5);
}
.index_five_box {
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.index_five_sub_one_title {
  justify-content: center;
  align-items: center;
  font-size: 20px;
  font-weight: 800;
  color: black;
}
.index_five_title {
  font-size: 70px;
  font-weight: 800;
  color: black;
  display: flex;
  justify-content: center;
}
.index_five_sub_two_title {
  font-size: 30px;
  font-weight: 800;
  color: black;
  margin-top: 3vh;
}
.index_five_window {
  display: flex;
  justify-content: center;
  align-items: center;
}
.index_five_real_window {
  width: auto;
  height: auto;
  justify-content: center;
  align-items: center;
  font-size: 250px;
}
.index_six {
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
}
.index_six_left {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.index_six_left_circle {
  width: 80vh;
  height: 80vh;
  border-radius: 100%;
}
.index_six_fight {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-left: 20%;
}
.index_six_fight_title {
  font-size: 70px;
  margin-bottom: 10vh;
}
.index_six_fight_text {
  font-size: 30px;
  font-weight: bolder;
}
.index_six_fight_img {
  width: 60vh;
  height: 20vh;
  background-color: blue;
  margin-top: 10vh;
}
.imagepp {
  width: 100%;
  height: 100%;
}
.index_six_left_circle:hover {
  opacity: 0.5;
  box-shadow: 0.5vh 0.5vh 5px rgba(109, 109, 109, 0.5);
}
.index_seven {
  width: 100%;
  height: 100vh;
  background-color: aqua;
}
.index_seven_title {
  width: 100%;
  height: 20vh;
  background-color: beige;
  margin-top: 10vh;
}
.footer {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(128, 128, 128, 0.05);
}
.footer_info {
  font-size: 8px;
}
