.status-bar {
  /* position: fixed; */
  top: 0;
  width: 100%; /*위에 줄은 status-bar를 위에 고정시키기 위한 것이다.*/
  display: flex;
  height: 5vh;
  justify-content: space-around;
  padding: 20px;
  z-index: 5;
  /* background-color: rgb(232, 234, 237); */
  background-color: white;
  opacity: 0.9;
  margin: 0;
}

.main_logo {
  font-size: 40px;
  font-weight: 1000;
  color: black;
  font-family: "Pretendard-Regular";
}

.login_button {
  margin-right: 30px;
  width: 100px;
  height: 40px;
  font-size: 15px;
  font-family: unset;
  font-weight: bolder;
  background-color: rgba(128, 128, 128, 0.7);
  border-radius: 10px;
  border: thin;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.main_back {
  margin-top: 3vh;
  margin-left: -5%;
  position: fixed;
  z-index: -1;
  height: 100vh;
  width: 110%;
  background-image: url("/static/image/mainback.png");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: 10% 10%;
}
.circe {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 5fr 5fr;
}

.circle_box_one {
  /* margin-top: 86.8px; */
  margin-top: 15vh;
  height: 50%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.circle_box_two {
  display: flex;
  height: auto;
  justify-content: space-evenly;
  align-items: center;
}
.box {
  width: 40vh;
  height: 40vh;
  background-color: hsl(69, 4%, 66%);
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 50px;
  font-weight: 1000;
  color: black;
}
.line {
  text-decoration: none;
  color: white;
}
.box_one:hover {
  background-color: rgba(0, 0, 0, 0.7);
  opacity: 0.5;
}
.box_two:hover {
  background-color: rgba(0, 0, 0, 0.7);
  opacity: 0.5;
}
.box_three:hover {
  background-color: rgba(0, 0, 0, 0.7);
  opacity: 0.5;
}
.box_four:hover {
  background-color: rgba(0, 0, 0, 0.7);
  opacity: 0.5;
}
.box_five:hover {
  background-color: rgba(0, 0, 0, 0.7);
  opacity: 0.5;
}
.mother_one {
  width: auto;
  height: auto;
  font-size: 50px;
  font-weight: 1000;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
}
.oneone {
  position: absolute;
  z-index: 200;
}
.mother_one:hover {
  color: white;
}
.circle_one {
  background-color: black;
  border-radius: 100%;
}
.box_one {
  background-image: url("/static/image/nav_profile.jpeg");
  background-size: 110%;
  background-repeat: no-repeat;
  background-position: 52% 48%;
  opacity: 0.8;
}
.box_two {
  background-image: url("/static/image/nav_profile.jpeg");
  background-size: 110%;
  background-repeat: no-repeat;
  background-position: 52% 48%;
  opacity: 0.8;
}
.box_three {
  background-image: url("/static/image/nav_profile.jpeg");
  background-size: 110%;
  background-repeat: no-repeat;
  background-position: 52% 48%;
  opacity: 0.8;
}
.box_four {
  background-image: url("/static/image/nav_profile.jpeg");
  background-size: 110%;
  background-repeat: no-repeat;
  background-position: 52% 48%;
  opacity: 0.8;
}
.box_five {
  background-image: url("/static/image/nav_profile.jpeg");
  background-size: 110%;
  background-repeat: no-repeat;
  background-position: 52% 48%;
  opacity: 0.8;
}

.mother_two {
  width: auto;
  height: auto;
  font-size: 50px;
  font-weight: 1000;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
}
.twotwo {
  position: absolute;
  z-index: 200;
}
.mother_two:hover {
  color: white;
}
.circle_two {
  background-color: black;
  border-radius: 100%;
}

.mother_three {
  width: auto;
  height: auto;
  font-size: 50px;
  font-weight: 1000;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
}
.threethree {
  position: absolute;
  z-index: 200;
}
.mother_three:hover {
  color: white;
}
.circle_three {
  background-color: black;
  border-radius: 100%;
}

.mother_four {
  width: auto;
  height: auto;
  font-size: 50px;
  font-weight: 1000;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
}
.fourfour {
  position: absolute;
  z-index: 200;
}
.mother_four:hover {
  color: white;
}
.circle_four {
  background-color: black;
  border-radius: 100%;
}

.mother_five {
  width: auto;
  height: auto;
  font-size: 50px;
  font-weight: 1000;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
}
.fivefive {
  position: absolute;
  z-index: 200;
}
.mother_five:hover {
  color: white;
}
.circle_five {
  background-color: black;
  border-radius: 100%;
}
