{% extends "base.html" %}
{% load static %}
{% block page_title %}활동을 커넥트하다;{% endblock page_title %}
{% block islogin %}
{% if request.user.is_authenticated %}
<a href="{% url 'users:logout' %}">Log out</a>
{% endif %} 
{% if request.user.is_authenticated is False %}
<a href="{% url 'users:login' %}">Log In</a>
{% endif %} 
{% endblock islogin %}
{% block content%}

<head>
    {% block css %}
        <link rel="stylesheet" href="{% static 'css/connect/connect_dream.css' %}">
    {% endblock css %}
</head>

<div class="space_all">
    <div class="contents_all">
        <div class="box">
            <div class="poster"><img src="{% static 'image/poster_new.jpeg' %}"></img>
            </div>
            <div class="others">
                <div class="contents_detail">해양관련학과/ESG/창업 등 관심 있으시분들!! 성실하게 참여 가능한 분들!!! 함께해요~:)
                    <br>해양학과/물류학과/컴퓨터공학과 환영!_! 
                    <br>평소 실생활에서 아이디어 많이 생각해 보신분도 환영 !_!
                    <br>팀장이 공모전 경험 많아서 성실하게만 참여하면 수상도 가능 !!
                    <br>부담갖지 말고 <span style="color:blue">상단 바에서 NADA 메세지</span> 보내주세요~~~
                </div>
                <button class="other_team" type="button">이 공모전의 다른 팀 확인하기</button>
                <button class="others_portfolio" type="button">팀장의 포트폴리오 참고하기</button>
            </div>
        </div>
        <div class="emoji">
                <f class="emoji_box">
                    <i class="fas fa-heart fa-lg heartclick"></i>
                </f>
                <f class="emoji_box"><a href="http://www.facebook.com/"><img src="{% static 'image/facebook.svg' %}" alt="facebook"></a></f>
                <f class="emoji_box"><a href="http://www.instagram.com/"><img src="{% static 'image/instagram.svg' %}" alt="instagram"></a></f>
                <f class="emoji_box"><img src="{% static 'image/share.svg' %}" alt="share"></f>
        </div>
    </div>
    <button class="buttonyy" type="submit">내 포트폴리오 공유하기</button>
    </div>
</div>



<script
    src="https://kit.fontawesome.com/4d118135bb.js"
    crossorigin="anonymous"
    ></script>
<script src="{% static 'js/portfolio.js' %}" ></script>
{% endblock content%}