{% extends "base.html" %}
{% load static %}
{% block page_title %}커넥트{% endblock page_title %}
{% block content%}

<head>
    {% block css %}
        <link rel="stylesheet" href="{% static 'css/connect/connect.css' %}">
    {% endblock css %}
</head>
<div class="outer">
    <div class="search">
        <div class="title">CONNECT;<br>같은 꿈을 가진 사람들을 연결하다</div>
        <div class="search_bar">
            <form id="write-challenge" action="" method="POST">
                <input class="search_box" name="search_box" type="text" placeholder="| 검색어를 입력하세오"/>
            </form>
        </div>
    </div>
    <div class="portfolio">
        <div class="portfolio_title">현업자와 연결하기</div>
        <div class="border_categories">
            <ul>영업/영엽관리 +</ul>
            <ul>마케팅/MD +</ul>
            <ul>전략/기획 +</ul>
            <ul>서비스기획/UI,UX +</ul>
            <ul>유통,무역,구매 +</ul>
            <ul>IT개발 +</ul>
            <ul>연구/설계 +</ul>
            <ul>인사/총무/노무 +</ul>
            <ul>공사/공기업 +</ul>
            <ul>회계/재무/금융 +</ul>
            <ul>생산/품질/제조 +</ul>
            <ul>공무원/비영리 +</ul>
            <ul>기타 사무 +</ul>
            <ul>미디어 +</ul>
            <ul>디자인/예술 +</ul>
            <ul>홍보/CSR +</ul>
            <ul>...</ul>
        </div>
        <div class="profiles">
            <div class="detail_box">
                <img src="{% static 'image/connect_profile_doohee.jpeg' %}" class="detail_box_photo"></img>
                <div class="detail_box_text"><strong>이두희</strong><br>내 아이디어를 내 손으로 실현한다</div>
            </div>
            <div class="detail_box">
                <img src="{% static 'image/connect_profile_doohee.jpeg' %}" class="detail_box_photo"></img>
                <div class="detail_box_text"><strong>이두희</strong><br>내 아이디어를 내 손으로 실현한다</div>
            </div>
            <div class="detail_box">
                <img src="{% static 'image/connect_profile_doohee.jpeg' %}" class="detail_box_photo"></img>
                <div class="detail_box_text"><strong>이두희</strong><br>내 아이디어를 내 손으로 실현한다</div>
            </div>
            <div class="detail_box">
                <img src="{% static 'image/connect_profile_doohee.jpeg' %}" class="detail_box_photo"></img>
                <div class="detail_box_text"><strong>이두희</strong><br>내 아이디어를 내 손으로 실현한다</div>
            </div>
            <div class="detail_box">
                <img src="{% static 'image/connect_profile_doohee.jpeg' %}" class="detail_box_photo"></img>
                <div class="detail_box_text"><strong>이두희</strong><br>내 아이디어를 내 손으로 실현한다</div>
            </div>
            <div class="detail_box">
                <img src="{% static 'image/connect_profile_doohee.jpeg' %}" class="detail_box_photo"></img>
                <div class="detail_box_text"><strong>이두희</strong><br>내 아이디어를 내 손으로 실현한다</div>
            </div>
        </div>
    </div>
    <div class="challenge">
        <div class="challenge_title">도전 함께하기</div>
        <div class="challenge_categories">
            <div class="challenge_category_boxes"># 건강</div>
            <div class="challenge_category_boxes"># 공부</div>
            <div class="challenge_category_boxes"># 업무</div>
            <div class="challenge_category_boxes"># 독서</div>
            <div class="challenge_category_boxes"># 습관</div>
            <div class="challenge_category_boxes"># 취미</div>
        </div>
        <div class="cloud">여기에는 클라우드</div>
    </div>
    <div class="contest_exhibit">
        <div class="contest_exhibit_title">활동 함께하기</div>
        <div class="profiles">
            <div class="contest_exhibit_subtitle">[ 공모전 함께하기 ]</div>
            <div class="contest_exhibit_categories">
                <ul>전체</ul>
                <ul>아이디어/기획</ul>
                <ul>광고/마케팅</ul>
                <ul>미디어</ul>
                <ul>디자인</ul>
                <ul>글쓰기</ul>
                <ul>소프트웨어</ul>
                <ul>공학/과학</ul>
                <ul>기타 +</ul>
            </div>
            <div class="contest_exhibit_boxes">
                <div class="detail_box">
                    <img src="{% static 'image/poster.jpeg' %}" class="detail_box_photo"></img>
                    <div class="detail_box_text"><strong>데이터 분석 공모전</strong><br>IT 개발이 목표인 여러분 함께 경험 쌓아요!</div>
                </div>
                <div class="detail_box">
                    <img src="{% static 'image/poster.jpeg' %}" class="detail_box_photo"></img>
                    <div class="detail_box_text"><strong>~~~</strong><br>경험 유무 상관x, 열정 있는 아마추어도 환영! </div>
                </div>
                <div class="detail_box">
                    <img src="{% static 'image/poster.jpeg' %}" class="detail_box_photo"></img>
                    <div class="detail_box_text"><strong>!!!!</strong><br>공모전 모집공고</div>
                </div>
            </div>
            <div class="study_title">[ 스터디 함께하기 ]</div>
            <div class="contest_exhibit_categories">
                <ul>전체</ul>
                <ul>자격증</ul>
                <ul>어학</ul>
                <ul>면접</ul>
                <ul>고시/공부</ul>
                <ul>교양</ul>
                <ul>프로그래밍</ul>
                <ul>기타 +</ul>
            </div>
            <div class="study_boxes">
                <div class="detail_box_study">
                    <div class="detail_box_text">코딩테스트 스터디 모집~~~!!</div>
                </div>
                <div class="detail_box_study">
                    <div class="detail_box_text">오전 9시 기상 스터디 모집~~~!!</div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content%}