{% extends "base.html" %}
{% load static %}
{% block page_title %}커넥트{% endblock page_title %}
{% block islogin %}
{% if request.user.is_authenticated %}
<a href="{% url 'users:logout' %}">Log out</a>
{% endif %} 
{% if request.user.is_authenticated is False %}
<a href="{% url 'users:login' %}">Log In</a>
{% endif %} 
{% endblock islogin %}

{% block content%}

<head>
    {% block css %}
        <link rel="stylesheet" href="{% static 'css/connect/connect.css' %}">
    {% endblock css %}
</head>
<div class="outer">
    <div class="search">
        <div class="title"><strong>CONNECT :</strong><br>같은 꿈을 가진 사람들을 연결하다</div>
        <div class="search_bar">
            <form id="write-challenge" action="" method="POST">
                {% csrf_token %}
                <input class="search_box" name="search_box" type="text" placeholder="| 관심 분야를 검색해보세요"/>
            </form>
        </div>
    </div>
    <div class="portfolio">
        <div class="portfolio_title">현직자와 연결하기<br><p>관심 분야의 직업을 가진 사람들의 포트폴리오를 참고해보세요</p></div>
        <div class="border_categories">
            <ul>영업/영엽관리 +</ul>
            <ul>마케팅/MD +</ul>
            <ul>전략/기획 +</ul>
            <ul>서비스기획/UI,UX +</ul>
            <ul>유통,무역,구매 +</ul>
            <ul>IT개발 +</ul>
            <ul>연구/설계 +</ul>
            <ul>공사/공기업 +</ul>
            <ul>미디어 +</ul>
            <ul>인사/총무/노무 +</ul>
            <ul>회계/재무/금융 +</ul>
            <ul>생산/품질/제조 +</ul>
            <ul>공무원/비영리 +</ul>
            <ul>기타 사무 +</ul>
            <ul>디자인/예술 +</ul>
            <ul>홍보/CSR +</ul>
            <ul>...</ul>
        </div>
        <div class="profiles">
            <div class="detail_box">
                <img src="{% static 'image/connect_profile_doohee.jpeg' %}" class="detail_box_photo"></img>
                <div class="detail_box_text"><strong>IT개발</strong><br>내 아이디어를 내 손으로 실현한다</div>
            </div>
            <div class="detail_box">
                <img src="{% static 'image/connect_portfolio1.png' %}" class="detail_box_photo"></img>
                <div class="detail_box_text"><strong>IT개발</strong><br>꿈은 크게 꾸는 것</div>
            </div>
            <div class="detail_box">
                <img src="{% static 'image/connect_portfolio2.png' %}" class="detail_box_photo"></img>
                <div class="detail_box_text"><strong>IT개발</strong><br>편견을 깨는 것이 중요</div>
            </div>
            <div class="detail_box">
                <img src="{% static 'image/connect_portfolio3.png' %}" class="detail_box_photo"></img>
                <div class="detail_box_text"><strong>IT개발</strong><br>상상만 하는 것과 구현하는 것은 다릅니다</div>
            </div>
            <div class="detail_box">
                <img src="{% static 'image/connect_portfolio4.png' %}" class="detail_box_photo"></img>
                <div class="detail_box_text"><strong>IT개발</strong><br>한계는 없다: limitless</div>
            </div>
            <div class="detail_box">
                <img src="{% static 'image/connect_portfolio5.png' %}" class="detail_box_photo"></img>
                <div class="detail_box_text"><strong>IT개발</strong><br>사용자들의 삶을 편리하게!</div>
            </div>
        </div>
    </div>
    <div class="challenge">
        <div class="challenge_title">챌린지 함께하기</div>
        <div class="challenge_smalltitle">함께 하면 성공할 확률이 높아져요</div>
        <div class="challenge_categories">
            <a href="?cloud=health" class="challenge_category_boxes"># 건강</a>
            <a href="?cloud=study" class="challenge_category_boxes"># 공부</a>
            <a href="?cloud=work" class="challenge_category_boxes"># 업무</a>
            <a href="?cloud=reading" class="challenge_category_boxes"># 독서</a>
            <a href="?cloud=habbit" class="challenge_category_boxes"># 습관</a>
            <a href="?cloud=hobby" class="challenge_category_boxes"># 취미</a>
        </div>
        <div class="cloud"><img src="/static/image/cloud_{{cloud}}.png"></img></div>
    </div>
    <div class="contest_exhibit">
        <div class="contest_exhibit_title">활동 함께하기<br><p>관심 분야의 공모전/스터디를 함께할 사람을 찾아보세요</p></div>
        <div class="profiles">
            <div class="contest_exhibit_subtitle"><i class="fas fa-bullhorn"></i><p>공모전 함께하기</p></div>
            <div class="contest_exhibit_categories">
                <ul>전체</ul>
                <ul>아이디어/기획</ul>
                <ul>광고/마케팅</ul>
                <ul>미디어</ul>
                <ul>디자인</ul>
                <ul>글쓰기</ul>
                <ul>소프트웨어</ul>
                <ul>공학/과학</ul>
                <ul>기타 +</ul>
            </div>
            <div class="contest_exhibit_boxes">
                <div class="detail_box">
                    <div class="expln">
                        클릭해보세요!!👇
                        </div>
                    <a href="{% url 'connects:dream' %}">
                    <img src="{% static 'image/poster_new.jpeg' %}" class="detail_box_photo">
                    </img>
                    <div class="detail_box_text"><strong>데이터 분석 공모전</strong><br>코딩 잘 몰라도 아이디어 넘치시는 분!<br>성실하신 분!함께해요~:)</div>
                    </a>
                </div>
                <div class="detail_box">
                    <img src="{% static 'image/poster2.jpeg' %}" class="detail_box_photo"></img>
                    <div class="detail_box_text"><strong>IT 관련 아이디어 공모전</strong><br>경험 유무 상관x, 초보자도 환영!_! 열정<br>만 있으면 OK</div>
                </div>
                <div class="detail_box">
                    <img src="{% static 'image/poster3.jpeg' %}" class="detail_box_photo"></img>
                    <div class="detail_box_text"><strong>보안 관련 해커톤</strong><br>흔치 않은 "보안" 관련 해커톤 기회를 <br>잡으세요~~!!(with us)</div>
                </div>
                <div class="detail_box">
                    <img src="{% static 'image/poster4.jpeg' %}" class="detail_box_photo"></img>
                    <div class="detail_box_text"><strong>스마트시티 영상 공모전</strong><br>영상 툴 다룰 줄 아시는 분 환영** <br>개발은 저희가 합니다</div>
                </div>
            </div>
            <div class="study_title"><i class="fas fa-chalkboard-teacher"></i><p>스터디 함께하기</p></div>
            <div class="contest_exhibit_categories">
                <ul>전체</ul>
                <ul>자격증</ul>
                <ul>어학</ul>
                <ul>면접</ul>
                <ul>고시/공부</ul>
                <ul>교양</ul>
                <ul>프로그래밍</ul>
                <ul>기타 +</ul>
            </div>
            <div class="study_boxes">
                <div class="detail_box_study">
                    <div class="detail_box_text"><p1># 파이썬 스터디<br></p1><p2>
                        파이썬 처음 배우시는 분들~~ 모두 함께 공부해요 !_! </p2></div>
                </div>
                <div class="detail_box_study">
                    <div class="detail_box_text"><p1># 리액트 스터디<br></p1>
                    <p2>리액트 스터디원 모집해요~!!</p2></div>
                </div>
                <div class="detail_box_study">
                    <div class="detail_box_text"><p1># 코테 스터디<br></p1>
                    <p2>코테 스터디원 모집합니다</p2></div>
                </div>
                <div class="detail_box_study">
                    <div class="detail_box_text"><p1># 기상 스터디<br></p1>
                    <p2>오전 9시에 도서관에서<br>출첵하실분~!!</p2></div>
                </div>
                <div class="detail_box_study">
                    <div class="detail_box_text"><p1># 알고리즘 스터디<br></p1>
                    <p2>상 난이도 코테 문제 함께 푸실 분들 <br>모집합니다</p2></div>
                </div>
                <div class="detail_box_study">
                    <div class="detail_box_text"><p1># 웹 프로그래밍<br></p1>
                    <p2>다음 달 열리는 중앙해커톤 준비 같이<br>하실 분~~ 모집해영</p2></div>
                </div>
            </div>
        </div>
    </div>
</div>

<script
    src="https://kit.fontawesome.com/4d118135bb.js"
    crossorigin="anonymous"
    ></script>
<!-- <script src="{% static 'js/portfolio.js' %}" ></script> -->
<script src="{% static 'js/emoji.js' %}" ></script>
{% endblock content%}
