{% extends "base.html" %}
{% load static %}
<head>
    {% block css %}
        <link rel="stylesheet" href="{% static 'css/portfolio/portfolio.css' %}">
    {% endblock css %}
</head>
{% block page_title %} 나다 : NADA {% endblock %}

<!--User Profile-->
{% block islogin %}
{% if request.user.is_authenticated %}
    <a href="{% url 'users:logout' %}">Log out</a>
{% endif %} 
{% if request.user.is_authenticated is False %}
    <a href="{% url 'users:login' %}">Log In</a>
{% endif %} 
{% endblock islogin %}


    

{% block content %}
<div class="left_right_all_page">
    <div></div>
    <div class="portfolio_main">
        <div class="index_two">
            <div class="index_two_box">
                <span class="index_two_box_title">PORTFOLIO</span>
                <span class="index_two_box_title_sub">인생 곡선을 담은 나만의 포트폴리오</span>
            </div>
        </div>
        <div class="index_three">
            <div class="index_three_one_window">
                <div class="index_three_one_window_flex">
                    <div class="name_doohee"></div>
                    <div class="index_three_real_one_window">
                        <img class="image" src="{% get_media_prefix %}/{{user.avatar}}">
                    </div>
                </div>
            </div>
            <div class="index_three_window">
                <div class="index_three_real_window">
                    <img class="images" src="{% static 'image/it.png'%}"></img>
                    <div class="index_three_text">
                        <span class="index_three_text_one">{{user.username}}</span>
                        <span class="index_three_text_two">doohee@likelion.org</span>
                        <span class="index_three_text_three">서울대학교 컴퓨터공학과 학사, 석사, 박사과정 중퇴, 멋쟁이사자처럼 창립멤버, CEO, 광주 인공지능사관학교 개교 멤버, 레인보우 멤버 지숙 남편</span>
                    </div>
                </div>
                <div class="profile_first_page_right_nav">
                    <div class="profile_first_page_right_nav_one">
                        <i class="fas fa-heart fa-2x heartclick"></i>
                    </div>
                    <div class="empty"></div>
                    <a href="{% url 'portfolios:dohee' %}">
                        <div class="profile_first_page_right_nav_two">
                            <i class="fas fa-sign-in-alt fa-2x"></i>
                        </div>
                    </a>
                    <div class="empty"></div>
                    <div class="profile_first_page_right_nav_three">
                        <i class="far fa-folder fa-2x">
                        </i>
                    </div>
                </div>
            </div>
        </div>
        <div class="index_four">
            <div class="index_four_one_window">
                <div class="index_four_real_one_window">
                    <div class="index_four_real_one_window_flex">
                        <div class="index_four_real_one_window_ff">학점 :</div>
                        <span class="big">3.72</span>
                    </div>
                    <div class="index_four_real_one_window_flex">    
                        <div class="index_four_real_one_window_ffa">어학 : </div>
                        <span class="biga">Toeic(820), OPIC(AL)</span>
                    </div>
                    <div class="index_four_real_one_window_flex">
                        <div class="index_four_real_one_window_ffb">자격증 : </div>
                        <span class="bigb">한국사능력검정 자격증<br>컴퓨터활용능력 1급</span>
                    </div>
                    <div class="index_four_real_one_window_flex">
                        <div class="index_four_real_one_window_ffc">수상 : </div>
                        <span class="bigc">멋사 중앙해커톤 TOP 10</span>
                    </div>
                    <div class="index_four_real_one_window_flex">
                        <div class="index_four_real_one_window_ffd">경력 : </div>
                        <span class="bigd">광교 스시집 알바 3개월</span>
                    </div>
                </div>
            </div>
            <div class="index_four_window">

                <a href="{% url 'portfolios:compare' %}" class="compare_box">
                    <div class="compare">compare</div>
                </a>

                <div class="index_four_real_window">
                    <canvas id="line-chart" ></canvas>
                </div>
                <form action="{% url 'portfolios:main' %}" method="POST">
                    {% csrf_token %}
                    <label for="username">사용자 이름</label>
                    <input id="username"  name="username" value="{{user.username}}" placeholder="이름을 입력하세요"><br>
                    <label for="num1">17</label>
                    <input id="num1" type="number" name="number1">
                    <label for="text1">설명</label>
                    <input id="text1" type="text" name="text1" placeholder="설명을 입력하세요"><br>
                    <label for="num2">18</label>
                    <input id="num2" type="number" name="number2">
                    <label for="text2">설명</label>
                    <input id="text2" type="text" name="text2" placeholder="설명을 입력하세요"><br>
                    <label for="num3">19</label>
                    <input id="num3" type="number" name="number3">
                    <label for="text3">설명</label>
                    <input id="text3" type="text" name="text3" placeholder="설명을 입력하세요"><br>
                    <label for="num4">20</label>
                    <input id="num4" type="number" name="number4">
                    <label for="text4">설명</label>
                    <input id="text4" type="text" name="text4" placeholder="설명을 입력하세요"><br>
                    <label for="num5">21</label>
                    <input id="num5" type="number" name="number5">
                    <label for="text5">설명</label>
                    <input id="text5" type="text" name="text5" placeholder="설명을 입력하세요"><br>
                    <label for="num6">22</label>
                    <input id="num6" type="number" name="number6">
                    <label for="text6">설명</label>
                    <input id="text6" type="text" name="text6" placeholder="설명을 입력하세요"><br>
                    <label for="num7">23</label>
                    <input id="num7" type="number" name="number7">
                    <label for="text7">설명</label>
                    <input id="text7" type="text" name="text7" placeholder="설명을 입력하세요"><br>
                    <label for="num8">24</label>
                    <input id="num8" type="number" name="number8">
                    <label for="text8">설명</label>
                    <input id="text8" type="text" name="text8" placeholder="설명을 입력하세요"><br>
                    <label for="num9">25</label>
                    <input id="num9" type="number" name="number9">
                    <label for="text9">설명</label>
                    <input id="text9" type="text" name="text9" placeholder="설명을 입력하세요"><br>
                    <label for="num10">26</label>
                    <input id="num10" type="number" name="number10">
                    <label for="text10">설명</label>
                    <input id="text10" type="text" name="text10" placeholder="설명을 입력하세요">
                    <button type="submit" >확인하기</button>
                </form>
            </div>
        </div>
        <div class="index_five">
            <div class="index_five_title">
                <div class="index_five_title_left">
                    <div class="index_five_title_one">02. ACTIVITY&ensp;&ensp;</div>
                    <div class="index_five_title_two"></div>
                </div>
            <div class="head_title">
                <p class="bling">새로운 기록을 작성해 보세요    >>>>>></p>
            </div>
            <a href="{% url 'records:write' %}">
                <div class="activity_add">추가하기</div>
            </a>
            </div>
            <div class="index_five_window">
                <div class="activity_box">
                    
                    {% for record in records %}
                        <div href="" class="activity_graph">
                            <div class="activity_graph__point"></div>
                            <div class="activity_graph__year">{{record.start_date|date:"Y"}}</div>
                            <div class="activity_graph__line"></div>
                            <p class="activity_date">{{record.start_date|date:"M d일"}} ~ {{record.end_date|date:"M d일"}}</p>
                            <p class="activity_name">{{record.title}}</p>
                        </div>
                        
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="index_six">
            <div class="index_six_title">
                <div class="index_six_title_text">03. REFERENCE</div>
            </div>
            <div class="index_six_window">
                <div class="index_six_real_window">
                    <div class="index_six_real_window_grid_one">
                        <div class="index_six_real_window_grid_one_up">
                            <div class="index_six_real_window_grid_one_up_image">
                                <img class="image" src="{% static 'image/info.gif'%}"></img>
                            </div>
                        </div>
                        <div class="index_six_real_window_grid_one_down">
                            <div class="index_six_real_window_grid_one_down_text">정보처리기사 자격증</div>
                        </div>
                    </div>
                    <div class="index_six_real_window_grid_two">
                        <div class="index_six_real_window_grid_two_up">
                            <div class="index_six_real_window_grid_two_up_image">
                                <img class="image" src="{% static 'image/computer.jpeg'%}"></img>
                            </div>
                        </div>
                        <div class="index_six_real_window_grid_two_down">
                            <div class="index_six_real_window_grid_two_down_text">컴퓨터활용능력 1급 자격증</div>
                        </div>
                    </div>
                    <div class="index_six_real_window_grid_three">
                        <div class="index_six_real_window_grid_three_up">
                            <div class="index_six_real_window_grid_three_up_image">+</div>
                        </div>
                        <div class="index_six_real_window_grid_three_down">
                            <div class="index_six_real_window_grid_two_down_text">추가하기</div>
                        </div>
                    </div>
                    <div class="index_six_real_window_grid_four"></div>
                    <div class="index_six_real_window_grid_five"></div>
                    <div class="index_six_real_window_grid_six"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<script
    src="https://kit.fontawesome.com/4d118135bb.js"
    crossorigin="anonymous"
    ></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
    <script>
        var text = {{text|safe}}.text
        var labels =   [[17],[18],[19],[20],[21],[22],[23],[],[],[]]
        for (var i = 0; i < text.length; i++) { 
            labels[i].push(text[i])
    }
        var chart = new Chart(document.getElementById("line-chart"), {
        type: 'line',
        data: {
            labels:labels,
            datasets: [
                /*{ 
                data: [5,1,6,6,7,1,3,9,8,8],
                label: "이두희",
                borderColor: "#3e95cd",
                fill: false
            }, */
            { 
                data: [{{data|safe}}.data[0].num1,{{data|safe}}.data[0].num2,{{data|safe}}.data[0].num3,{{data|safe}}.data[0].num4,{{data|safe}}.data[0].num5,{{data|safe}}.data[0].num6,{{data|safe}}.data[0].num7,{{data|safe}}.data[0].num8,{{data|safe}}.data[0].num9,{{data|safe}}.data[0].num10],
                label: "{{request.user}}",
                borderColor: "#8e5ea2",
                fill: false
            }
        ]
        },
        options: {
            title: {
            display: true,
            text: "{{request.user}}'s Lifecycle",
            fontSize: 50,
            
            
            }
        }
    
        })
        canvas = document.querySelector("canvas")
        canvas.style.cssText="display:block; width:100%; height:100%;"
        ;
    </script>
<script src="{% static 'js/portfolio.js' %}" ></script>
{% endblock content %}