{% extends "base.html" %}
{% load static %}
{% block nav %}{% endblock nav %}
{% block left-bar %}{% endblock left-bar %}
<head>
    {% block css %}
        <link rel="stylesheet" href="{% static 'css/portfolio/portfolio.css' %}">
    {% endblock css %}
</head>
{% block page_title %} 나다 : NADA {% endblock %}
{% block content %}
<div class="status-bar">
    <span class="main_logo">N A D A</span>
    <button class="login_button">
        <a href="{% url 'users:main' %}">Log-out</a>
    </button>
</div>
<div class="left_right_all_page">
    <div class="normal_nav">
        <div class="navigation_bar">
            <div class="empty"></div>
            <i class="fas fa-bars fa-2x"></i>
            <div class="empty"></div>
            <i class="far fa-heart fa-2x"></i>
            <div class="empty"></div>
            <i class="far fa-heart fa-2x"></i>
            <div class="empty"></div>
            <i class="far fa-heart fa-2x"></i>
            <div class="empty"></div>
            <i class="far fa-heart fa-2x"></i>
            <div class="empty"></div>
            <i class="far fa-heart fa-2x"></i>
            <div class="empty"></div>
            <i class="fas fa-home fa-2x"></i>
        </div>
    </div>
    <div class="portfolio_main">
        <div class="index_three">
            <div class="index_three_one_window">
                <div class="index_three_real_one_window">
                </div>
            </div>
            <div class="index_three_window">
                <div class="index_three_real_window">
                </div>
            </div>
        </div>
        <div class="index_four">
            <div class="index_three_info">
                <div class="index_three_box">
                    <div class="index_three_sub_one_title">당신의 정보를 한눈에 볼 수 있는</div>
                    <div class="index_three_title">CHALLENGE</div>
                    <div class="index_three_sub_two_title">안녕하세요 여러분 반가워요 정말</div>
                    <div class="index_three_sub_two_title">제 이름이 뭔지 아시나요? 궁금하죠? 크크</div>
                    <div class="index_three_sub_two_title">이승찬입니다. 이승찬 이승찬이라고요 기억해주세요</div>
                </div>
            </div>
            <div class="index_three_window">
                <div class="index_three_real_window">
                    <img class="image" src="{% static 'image/challenge.png'%}"></img>
                </div>
            </div>
        </div>
        <div class="index_five">
            <div class="index_three_info">
                <div class="index_three_box">
                    <div class="index_three_sub_one_title">당신의 정보를 한눈에 볼 수 있는</div>
                    <div class="index_three_title">보관함</div>
                    <div class="index_three_sub_two_title">안녕하세요 여러분 반가워요 정말</div>
                    <div class="index_three_sub_two_title">제 이름이 뭔지 아시나요? 궁금하죠? 크크</div>
                    <div class="index_three_sub_two_title">이승찬입니다. 이승찬 이승찬이라고요 기억해주세요</div>
                </div>
            </div>
            <div class="index_three_window">
                <div class="index_three_real_window">
                    <img class="image" src="{% static 'image/book.jpeg'%}"></img>
                </div>
            </div>
        </div>
        <div class="index_six">
            <div class="index_three_info">
                <div class="index_three_box">
                    <div class="index_three_sub_one_title">당신의 정보를 한눈에 볼 수 있는</div>
                    <div class="index_three_title">기록</div>
                    <div class="index_three_sub_two_title">안녕하세요 여러분 반가워요 정말</div>
                    <div class="index_three_sub_two_title">제 이름이 뭔지 아시나요? 궁금하죠? 크크</div>
                    <div class="index_three_sub_two_title">이승찬입니다. 이승찬 이승찬이라고요 기억해주세요</div>
                </div>
            </div>
            <div class="index_three_window">
                <div class="index_three_real_window">
                    <img class="image" src="{% static 'image/portfolio.jpeg'%}"></img>
                </div>
            </div>
        </div>
        <div class="index_seven">
            <div class="index_three_info">
                <div class="index_three_box">
                    <div class="index_three_sub_one_title">당신의 정보를 한눈에 볼 수 있는</div>
                    <div class="index_three_title">CONNECT</div>
                    <div class="index_three_sub_two_title">안녕하세요 여러분 반가워요 정말</div>
                    <div class="index_three_sub_two_title">제 이름이 뭔지 아시나요? 궁금하죠? 크크</div>
                    <div class="index_three_sub_two_title">이승찬입니다. 이승찬 이승찬이라고요 기억해주세요</div>
                </div>
            </div>
            <div class="index_three_window">
                <div class="index_three_real_window">
                    <img class="image" src="{% static 'image/portfolio.jpeg'%}"></img>
                </div>
            </div>
        </div>
    </div>
</div>
<script
    src="https://kit.fontawesome.com/4d118135bb.js"
    crossorigin="anonymous"
    ></script>
{% endblock content %}