html {
  scroll-behavior: smooth;
}
body {
  background-color: white;
  margin: 0;
  height: auto;
  border: 1px solid white;
}
a {
  text-decoration: none;
  color: inherit;
}
ol,
ul {
  list-style: none;
}
.normal_nav {
  width: auto;
  height: auto;
}
.navigation_bar {
  position: fixed;
  width: 4.7%;
  height: 100vh;
  background-color: rgb(235, 235, 235);
  /* background-color: rgb(51, 120, 116); */
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 6;
  opacity: 0.9;
  box-shadow: 0.5vh 0.5vh 5px rgba(109, 109, 109, 0.5);
}
.navigation_bar:hover {
  width: 15%;
  transition: 1s ease;
}
.empty {
  height: 30px;
}
.status-bar {
  position: fixed;
  top: 0;
  width: 95.3%; /*위에 줄은 status-bar를 위에 고정시키기 위한 것이다.*/
  display: flex;
  height: 5vh;
  justify-content: space-between;
  padding: 20px;
  z-index: 5;
  background-color: rgb(232, 234, 237);
  opacity: 0.9;
  margin-left: 4.7%;
}
.main_logo {
  margin-left: 50px;
  font-size: 35px;
  font-weight: 800;
  color: yellowgreen;
}
.status-bar_sub {
  width: 30vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.text_button {
  border: none;
  background-color: rgb(234, 236, 239);
}
.login_button {
  margin-right: 50px;
  width: 100px;
  height: 40px;
  font-size: 15px;
  font-family: unset;
  font-weight: bold;
  background-color: rgba(128, 128, 128, 0.7);
  border-radius: 10px;
  border: thin;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.nav_profile_box {
  display: flex;
  justify-content: center;
  align-items: center;
  animation: notificationAnimation 10s ease-in-out infinite;
}
@keyframes notificationAnimation {
  0% {
    transform: none;
  }
  50% {
    transform: translateY(-5px) rotateY(360deg);
  }
  100% {
    transform: none;
  }
}
.nav_profile {
  width: 5vh;
  height: 5vh;
  border-radius: 100%;
  border-style: solid;
  border-width: 2px;
  border-color: rgba(0, 0, 0, 0.6);
}
.green_small_box {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}
.green_small {
  margin-top: -2vh;
  width: 1.2vh;
  height: 1.2vh;
  border-radius: 100%;
  background-color: rgb(95, 173, 75);
  border-style: solid;
  border-width: 1px;
  border-color: white;
}
.imagea {
  width: 100%;
  height: 100%;
  border-radius: 100%;
}
.port_icon:hover {
  color: #92a4b2;
}
.chal_icon:hover {
  color: #92a4b2;
}
.repo_icon:hover {
  color: #92a4b2;
}
.writ_icon:hover {
  color: #92a4b2;
}
.conn_icon:hover {
  color: #92a4b2;
}
.home_icon:hover {
  color: #92a4b2;
}
.message_big {
  position: fixed;
  height: 60vh;
  width: 95.3%;
  display: flex;
  margin-top: 5vh;
  margin-left: 4.7%;
  justify-content: flex-end;
  z-index: 5;
}
.message {
  display: none;
  height: 60vh;
  width: 450px;
  margin-right: 10vh;
}
.green_small_boxs {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}
.green_smalls {
  margin-top: -2vh;
  width: 1.2vh;
  height: 1.2vh;
  border-radius: 100%;
  background-color: rgb(0, 89, 255);
  border-style: solid;
  border-width: 1px;
  border-color: white;
}
.nav_under {
  margin-top: 35vh;
  bottom: 0;
}
.nav_underq {
  margin-top: 1vh;
  font-size: 10px;
}
/*=================================================================*/
#qchat-screen {
  background-color: #abc1d1;
  height: 60vh;
  margin-top: 12vh;
  width: 450px;
  z-index: 20;
}
#qchat-screen .qalt-header,
#qchat-screen .qstatus-bar {
  margin-top: 8.3vh;
  height: 8vh;
  position: fixed;
  width: 450px;
  box-sizing: border-box;
  background-color: #abc1d1;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
}
#qchat-screen .qstatus-bar {
  z-index: 2;
}
#qchat-screen .qalt-header {
  z-index: 1; /*몇번째 위치에 있게 만들 수 있는지 할 수 있다.*/
  top: 10px;
}
.qalt-header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
@keyframes fadeIn {
  from {
    transform: translateY(30px);
    opacity: 0;
  }
  to {
    transform: none;
    opacity: 1;
  }
}

.qmain-chat {
  margin-top: -2px;
  display: flex;
  flex-direction: column;
  align-items: center;
  animation: fadeIn 0.8s linear forwards;
}
.qchat__timestamp {
  color: white;
  background-color: #92a4b2;
  padding: 10px 15px;
  font-size: 14px;
  border-radius: 25px;
  margin-bottom: 25px;
  margin-top: 1vh;
}
.qmessage-row {
  width: 440px;
  display: flex;
  margin-bottom: 25px;
  padding-left: 10px;
}
.qmessage-row img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
}
.qmessage__author {
  margin-bottom: 5px;
  display: block;
}
.qmessage__info {
  display: flex;
  align-items: flex-end;
}
.qmessage__bubble {
  background-color: white;
  padding: 13px;
  font-size: 18px;
  border-radius: 15px;
  border-top-left-radius: 0px;
  margin-right: 5px;
}
.qqmessage__bubble {
  background-color: yellow;
  padding: 13px;
  font-size: 18px;
  border-radius: 15px;
  border-top-right-radius: 0px;
  margin-right: 5px;
}
.qmessage__time,
.qmessage__author {
  opacity: 0.8;
  font-size: 14px;
}
.qmessage-row--own {
  justify-content: flex-end;
  margin-right: 10px;
}
.qmessage-row--own {
  background-color: var(--yellow);
  border-top-right-radius: 0px;
  border-top-left-radius: 15px;
  padding-right: 10px;
}
.message-row--own .message__bubble {
  order: 1;
}
.message-row--own .message__time {
  order: 0;
}
.qmessage-row--own .qmessage__info {
  flex-direction: row-reverse;
}
.qreply {
  position: fixed;
  width: 450px;
  bottom: 19.5vh;
  background-color: white;
  display: flex;
  justify-content: center;
  padding: 5px 25px;
  box-sizing: border-box;
  align-items: center;
  transition: all 0.3s ease-in-out;
  border: solid 1px gray;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/* .qreply .qreply__column:first-child {
  width: 2%;
}
.qreply .qreply__column:last-child {
  width: 98%;
  position: relative;
} */
.qreply i {
  opacity: 0.5;
}
.airplane {
  color: blue;
  margin-top: 5px;
}
.qreply input {
  padding: 12px;
  width: 100%;
  border: var(--main-border);
  border-radius: 20px;
  box-sizing: border-box;
  transition: all 0.3s ease-in-out;
}
.qreply__column {
  display: flex;
}
.qreply__column:last-child > i,
.qreply__column:last-child button {
  position: absolute;
  right: 3px;
  top: 5px;
}
.qreply__column:last-child > i {
  right: 40px;
  top: 12px;
}
.qreply__column button {
  background-color: yellow;
  border: none;
  width: 30px;
  height: 30px;
  border-radius: 50%;
}
.qreply__column button i {
  opacity: 1;
}
.qreply__column button:focus,
.qreply__column button:active {
  outline: none;
}

.qreply .qreply__column:first-child,
.qreply .fa-smile-wink,
.qreply button {
  transition: opacity 0.3s ease-in-out;
}

.qreply:focus-within .qreply__column:first-child,
  /*reply 내부에 어떤 요소가 focus되어 있다면 이라는 뜻이다.*/
.qreply:focus-within .fa-smile-wink,
.qreply:focus-within button {
  opacity: 0.3;
}
@keyframes moveout {
  from {
    opacity: 0;
    transform: translateX(-50px);
  }
  to {
    opacity: 1;
  }
}

.qfirst-chat {
  animation: moveout 1s ease-in-out;
}

@keyframes movein {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
  }
}

.qsecond-chat {
  animation: movein 1s ease-in-out;
  margin-right: 10px;
  margin-left: 10px;
}

@keyframes rolling {
  from {
    transform: none;
  }
  to {
    transform: rotateX(360deg);
  }
}
.qmain-chat .qchat__timestamp:hover {
  animation: rolling 1.5s linear infinite;
}
input {
  outline-style: none;
}
textarea {
  outline-style: none;
}
