.left-bar__lists {
  display: flex;
  flex-direction: column;
}
body {
  background-color: white;
  margin: 0;
  height: auto;
  border: 1px solid white;
}
a {
  text-decoration: none;
  color: inherit;
}
