.left-bar__lists {
  display: flex;
  flex-direction: column;
}
body {
  background-color: white;
  margin: 0;
  height: auto;
  border: 1px solid white;
}
a {
  text-decoration: none;
  color: inherit;
}
ol,
ul {
  list-style: none;
}
.normal_nav {
  width: auto;
  height: auto;
}
.navigation_bar {
  position: fixed;
  width: 4.7%;
  height: 90vh;
  background-color: rgba(128, 128, 128, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 6;
}
.navigation_bar:hover {
  width: 15%;
  transition: 1s ease;
}
.empty {
  height: 30px;
}
