{% extends "base.html" %}
{% load static %}
{% block left-bar %}{% endblock left-bar %}
<head>
    {% block css %}
        <link rel="stylesheet" href="{% static 'css/records/records.css' %}">
    {% endblock css %}
</head>
{% block page_title %} 나다 : NADA {% endblock %}
{% block content %}
<div class="status-bar">
    <span class="main_logo">N A D A</span>
    <button class="login_button">
        <a href="{% url 'users:main' %}">Log-out</a>
    </button>
</div>
<div class="left_right_all_page">
    <div></div>
    <div class="portfolio_main">
        <div class="index_three">
            <div class="index_three_title">
                <div class="index_three_title_one">사진들어가는 곳</div>
            </div>
            <div class="index_three_window">
                <span class="index_three_window_sixmother_title">2021년 8월</span>
                <div class="index_three_window_sixmother">
                    <div class="index_three_window_box">
                        <div class="index_three_window_one">
                            <img class="images" src="{% static 'image/like_lion.png'%}"></img>
                        </div>
                    </div>
                    <div class="index_three_window_box">
                        <div class="index_three_window_one"></div>
                    </div>
                    <div class="index_three_window_box">
                        <div class="index_three_window_one"></div>
                    </div>
                    <div class="index_three_window_box">
                        <div class="index_three_window_one"></div>
                    </div>
                    <div class="index_three_window_box">
                        <div class="index_three_window_one"></div>
                    </div>
                    <div class="index_three_window_box">
                        <div class="index_three_window_one"></div>
                    </div>
                </div>
                <div class="index_three_window_under">
                    <i class="fas fa-arrow-circle-left fa-2x"></i>
                    <span>&ensp;&ensp;1&ensp;&ensp;</span>
                    <i class="fas fa-arrow-circle-right fa-2x"></i>
                </div>
            </div>
        </div>
        <div class="index_four">
            <div class="index_four_title">
                <div class="index_four_title_text">PORTFOLIO</div>
                <div class="index_four_title_date">2021년 8월</div>
            </div>
            <div class="index_four_window">
                <div class="index_four_real_window">
                    <div class="index_four_real_window_grid_one">
                        <div class="index_four_real_window_grid_one_up">
                            <div class="index_four_real_window_grid_one_up_image">
                                <img class="images" src="{% static 'image/like_lion.png'%}"></img>
                            </div>
                        </div>
                        <div class="index_four_real_window_grid_box">
                            <div class="index_four_real_window_grid_one_down">
                                <span>&ensp;-&ensp;멋쟁이사자처럼 9기</span>
                            </div>
                        </div>
                    </div>
                    <div class="index_four_real_window_grid_two">
                        <div class="index_four_real_window_grid_two_up">
                            <div class="index_four_real_window_grid_two_up_image">
                                <img class="images" src="{% static 'image/bongsa.jpg'%}"></img>
                            </div>
                        </div>
                        <div class="index_four_real_window_grid_box">
                            <div class="index_four_real_window_grid_two_down">
                                <span>&ensp;-&ensp;대외활동</span>
                            </div>
                        </div>
                    </div>
                    <div class="index_four_real_window_grid_three">
                        <div class="index_four_real_window_grid_three_up">
                            <div class="index_four_real_window_grid_three_up_image">
                                <img class="images" src="{% static 'image/hack.jpeg'%}"></img>
                            </div>
                        </div>
                        <div class="index_four_real_window_grid_box">
                            <div class="index_four_real_window_grid_three_down">  
                                <span>&ensp;-&ensp;공모전</span>
                            </div>
                        </div>
                    </div>
                    <div class="index_four_real_window_grid_four"></div>
                    <div class="index_four_real_window_grid_five"></div>
                    <div class="index_four_real_window_grid_six">
                        <div class="index_four_real_window_grid_six_plus_box_plus">+</div>
                        <div class="empty"></div>
                        <div class="index_four_real_window_grid_six_plus_box_plus">+</div>
                        <div class="empty"></div>
                        <div class="index_four_real_window_grid_six_plus_box_plus">+</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="index_five">
            <div class="index_five_title">
                <div class="index_five_title_one">02. ACTIVITY&ensp;&ensp;</div>
                <div class="index_five_title_two">그래프를 클릭하면 더 자세한 기록을 볼 수 있습니다.</div>
            </div>
            <div class="index_five_window"></div>
        </div>
        <div class="index_six">
            <div class="index_six_title">
                <div class="index_six_title_text">03. REFERENCE</div>
            </div>
            <div class="index_six_window">
                <div class="index_six_real_window">
                    <div class="index_six_real_window_grid_one">
                        <div class="index_six_real_window_grid_one_up">
                            <div class="index_six_real_window_grid_one_up_image">
                                <img class="image" src="{% static 'image/info.gif'%}"></img>
                            </div>
                        </div>
                        <div class="index_six_real_window_grid_one_down">
                            <div class="index_six_real_window_grid_one_down_text">정보처리기사 자격증</div>
                        </div>
                    </div>
                    <div class="index_six_real_window_grid_two">
                        <div class="index_six_real_window_grid_two_up">
                            <div class="index_six_real_window_grid_two_up_image">
                                <img class="image" src="{% static 'image/computer.jpeg'%}"></img>
                            </div>
                        </div>
                        <div class="index_six_real_window_grid_two_down">
                            <div class="index_six_real_window_grid_two_down_text">컴퓨터활용능력 2급 자격증</div>
                        </div>
                    </div>
                    <div class="index_six_real_window_grid_three">
                        <div class="index_six_real_window_grid_three_up">
                            <div class="index_six_real_window_grid_three_up_image">+</div>
                        </div>
                        <div class="index_six_real_window_grid_three_down">
                            <div class="index_six_real_window_grid_two_down_text">추가하기</div>
                        </div>
                    </div>
                    <div class="index_six_real_window_grid_four"></div>
                    <div class="index_six_real_window_grid_five"></div>
                    <div class="index_six_real_window_grid_six"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<script
    src="https://kit.fontawesome.com/4d118135bb.js"
    crossorigin="anonymous"
    ></script>
<script src="{% static 'js/portfolio.js' %}" ></script>
{% endblock content%}