{% extends "base.html" %}
{% load static %}
<head>
    {% block css %}
        <link rel="stylesheet" href="{% static 'css/records/records_write.css' %}">
    {% endblock css %}
</head>
{% block page_title %} 나다 : NADA {% endblock %}
{% block islogin %}
{% if request.user.is_authenticated %}
<a href="{% url 'users:logout' %}">Log out</a>
{% endif %} 
{% if request.user.is_authenticated is False %}
<a href="{% url 'users:login' %}">Log In</a>
{% endif %} 
{% endblock islogin %}
{% block content %}
<div class="left_right_all_page">
    <div></div>
    <div class="portfolio_main">
        <form class="index_three" method="POST" action="{% url 'records:write' %}">
            {% csrf_token %}
            <div class="index_three_window">
                <label class="grid_one">
                    <span>카테고리:&nbsp;</span>
                </label>
                <div class="grid_two">
                    <select name="category" id="category">
                        <optgroup label="포트폴리오">
                            <option value="licence">자격증</option>
                            <option value="language">어학</option>
                            <option value="grade">학점</option>
                            <option value="internship">인턴</option>
                            <option value="volunteer">봉사</option>
                            <option value="work">업무</option>
                        </optgroup>
                        <optgroup label="일반">
                            <option value="general">일반</option>
                        </optgroup>
                        <!--
                            <optgroup label="챌린지">
                                <option value="study">공부</option>
                                <option value="health">건강</option>
                                <option value="habbit">습관</option>
                                <option value="reading">독서</option>
                                <option value="hobby">취미</option>
                                <option value="work">업무</option>
                            </optgroup>
                        -->
                    </select>
                </div>
                <label class="grid_three">
                    <span>시작/종료:&nbsp;</span>
                </label>
                <div class="grid_four">
                    <input class="grid_four_box" type="date" name="start_date" placeholder="시작일을 선택하세요">
                    <input class="grid_four_box" type="date" name="end_date" placeholder="종료일을 선택하세요">
                </div>
                <label class="grid_five">
                    <span>제목:&nbsp;</span>
                </label>
                <div class="grid_six">
                    <input class="grid_six_box" name="title" type="text">
                </div>
                <label class="grid_seven">
                    <span>글:&nbsp;</span>
                </label>
                <div class="grid_eight">
                    <input class="grid_eight_box" name="detail" type="text">
                </div>
                <div class="grid_nine">                
                    <button class="grid_nine_box" type="submit">
                        
                            <span>등록하기</span>
                        
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>
<script
    src="https://kit.fontawesome.com/4d118135bb.js"
    crossorigin="anonymous"
    ></script>
<script src="{% static 'js/portfolio.js' %}" ></script>
{% endblock content%}