{% extends "base.html" %}
{% load static %}
<head>
    {% block css %}
        <link rel="stylesheet" href="{% static 'css/records/records.css' %}">
    {% endblock css %}
</head>
{% block page_title %} 나다 : NADA {% endblock %}
{% block islogin %}
{% if request.user.is_authenticated %}
<a href="{% url 'users:logout' %}">Log out</a>
{% endif %} 
{% if request.user.is_authenticated is False %}
<a href="{% url 'users:login' %}">Log In</a>
{% endif %} 
{% endblock islogin %}
{% block content %}
<div class="left_right_all_page">
    <div></div>
    <div class="portfolio_main">
        <div class="index_three">
            <div class="index_three_title">
                <div class="index_three_title_one">사진들어가는 곳</div>
            </div>
            <div class="index_three_window">
                <span class="index_three_window_sixmother_title">2021년 8월</span>
                <div class="index_three_window_sixmother">
                    <!--
                            <div class="index_three_window_box">

                            <div class="index_three_window_one">
                                <img class="images" src="{% static 'image/like_lion.png'%}"></img>
                            </div>
                        </div>
                        -->
                    {% for record in records.object_list %}
                    <div class="index_three_window_box">
                        <div class="index_three_window_one">
                            <img class="index_three_window_one" src="{% get_media_prefix %}/{{record.thumbnail}}"></img>

                        </div>
                    </div>
                    {% endfor %}
                    
                </div>
                <div class="index_three_window_under">
                    {% if records.has_previous %}
                        <a href="?page={{records.previous_page_number}}"> <i class="fas fa-arrow-circle-left fa-2x"></i> </a>
                    {% endif %}
                    
                    <span>&ensp;&ensp;{{records.number}}/{{records.paginator.num_pages}}&ensp;&ensp;</span>
                    {% if records.has_next %}
                        <a href="?page={{records.next_page_number}}"> <i class="fas fa-arrow-circle-right fa-2x"></i> </a>
                    {% endif %}
                    
                </div>
            </div>
        </div>
        <div class="index_four">
            <div class="index_four_title">
                <div class="index_four_title_text">PORTFOLIO</div>
                <div class="index_four_title_date">2021년 8월</div>
            </div>
            <div class="index_four_window">
                <div class="index_four_real_window">
                    <div class="index_four_real_window_grid_one">
                        <div class="index_four_real_window_grid_one_up">
                            <div class="index_four_real_window_grid_one_up_image">
                                <img class="images" src="{% static 'image/like_lion.png'%}"></img>
                            </div>
                        </div>
                        <div class="index_four_real_window_grid_box">
                            <div class="index_four_real_window_grid_one_down">
                                <span>&ensp;-&ensp;멋쟁이사자처럼 9기</span>
                            </div>
                        </div>
                    </div>
                    <div class="index_four_real_window_grid_two">
                        <div class="index_four_real_window_grid_two_up">
                            <div class="index_four_real_window_grid_two_up_image">
                                <img class="images" src="{% static 'image/bongsa.jpg'%}"></img>
                            </div>
                        </div>
                        <div class="index_four_real_window_grid_box">
                            <div class="index_four_real_window_grid_two_down">
                                <span>&ensp;-&ensp;대외활동</span>
                            </div>
                        </div>
                    </div>
                    <div class="index_four_real_window_grid_three">
                        <div class="index_four_real_window_grid_three_up">
                            <div class="index_four_real_window_grid_three_up_image">
                                <img class="images" src="{% static 'image/hack.jpeg'%}"></img>
                            </div>
                        </div>
                        <div class="index_four_real_window_grid_box">
                            <div class="index_four_real_window_grid_three_down">  
                                <span>&ensp;-&ensp;공모전</span>
                            </div>
                        </div>
                    </div>
                    <div class="index_four_real_window_grid_four"></div>
                    <div class="index_four_real_window_grid_five"></div>            
                    <div class="index_four_real_window_grid_six">
                        <div class="index_four_real_window_grid_six_plus_box_plus_a"></div>
                        <div class="empty"></div>
                        <div class="index_four_real_window_grid_six_plus_box_plus_a"></div>
                        <div class="empty"></div>
                        <a class="index_four_button" href="{% url 'records:write' %}">
                            <div class="index_four_real_window_grid_six_plus_box_plus">
                                <i class="fas fa-plus"></i>
                            </div>
                        </a>
                    </a>    
                </div>
            </div>
        </div>
        <div class="index_five">
            <div class="index_five_title">
                <div class="index_five_title_text">CHALLENGE</div>
                <div class="index_five_title_date">2021년 8월</div>
            </div>
            <div class="index_five_window">
                <div class="index_five_window_flex">
                <div class="index_five_window_boxa"># 공부</div>
                <div class="emptyq"></div>
                <div class="index_five_window_box"># 건강</div>
                <div class="emptyq"></div>
                <div class="index_five_window_box"># 습관</div>
                <div class="emptyq"></div>
                <div class="index_five_window_box"># 독서</div>
                <div class="emptyq"></div>
                <div class="index_five_window_box"># 취미</div>
                <div class="emptyq"></div>
                <div class="index_five_window_box"># 업무</div>
                <div class="emptyq"></div>
                </div>
            </div>
            <div class="under_bar"></div>
            <div class="under_box">
                <div class="under_box_one">
                    <div class="under_box_one_pic">
                        <img class="imagesp" src="{% static 'image/booksss.jpeg'%}"></img>
                    </div>
                </div>
                <div class="under_box_two">
                    <div class="under_box_one_pic">
                        <img class="imagesp" src="{% static 'image/booksss.jpeg'%}"></img>
                    </div>
                </div>
                <div class="under_box_three">
                    <div class="under_box_one_pic">
                        <img class="imagesp" src="{% static 'image/booksss.jpeg'%}"></img>
                    </div>
                </div>
                <div class="under_box_four"></div>
                <div class="under_box_five">
                    <span>30일 독서</span>
                </div>
                <div class="under_box_six">
                    <span>30일 독서</span>
                </div>
                <div class="under_box_seven">
                    <span>30일 독서</span>
                </div>
                <div class="under_box_eight"></div>
            </div>
        </div>
        <div class="index_six">
            <div class="index_six_title">
                <div class="index_six_title_text">SCRAP</div>
                <div class="index_six_title_date">2021년 8월</div>
            </div>
            <div class="index_six_window">
                <div class="index_six_real_window">
                    <div class="index_six_real_window_grid_one">
                        <div class="index_six_real_window_grid_one_up">
                            <div class="index_six_real_window_grid_one_up_image">
                                <img class="image" src="{% static 'image/news_one.png'%}"></img>
                            </div>
                        </div>
                        <div class="index_six_real_window_grid_one_down">
                            <div class="index_six_real_window_grid_one_down_text">7월 29일 매일경제 빅데이터</div>
                        </div>
                    </div>
                    <div class="index_six_real_window_grid_two">
                        <div class="index_six_real_window_grid_two_up">
                            <div class="index_six_real_window_grid_two_up_image">
                                <img class="image" src="{% static 'image/news_two.png'%}"></img>
                            </div>
                        </div>
                        <div class="index_six_real_window_grid_two_down">
                            <div class="index_six_real_window_grid_two_down_text">7월 29일 동아경제 살균</div>
                        </div>
                    </div>
                    <div class="index_six_real_window_grid_three">
                        <div class="index_six_real_window_grid_three_up">
                            <div class="index_six_real_window_grid_three_up_image"></div>
                        </div>
                        <div class="index_six_real_window_grid_three_down">
                            <div class="index_six_real_window_grid_two_down_text">n월 n일 OO일보 OO</div>
                        </div>
                    </div>
                    <div class="index_six_real_window_grid_four"></div>
                    <div class="index_six_real_window_grid_five"></div>
                    <a class="index_four_button" href="{% url 'records:scrap' %}">
                        <div class="index_four_real_window_grid_six">
                            <div class="index_four_real_window_grid_six_plus_box_plus_a"></div>
                            <div class="empty"></div>
                            <div class="index_four_real_window_grid_six_plus_box_plus_a"></div>
                            <div class="empty"></div>
                            <div class="index_four_real_window_grid_six_plus_box_plus">
                                <i class="fas fa-plus"></i>
                            </div>
                        </div>
                    </a>    
                </div>
            </div>
        </div>
    </div>
</div>
<script
    src="https://kit.fontawesome.com/4d118135bb.js"
    crossorigin="anonymous"
    ></script>

{% endblock content%}