
@font-face {
  font-family: '777Balsamtint';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_nine_@1.1/777Balsamtint.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
body {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  overflow:scroll;
}

.head_title_all {
  margin-top: 6vh;
  margin-bottom: 1vh;
  margin-left: 12vw;
  width: 88vw;
  padding-top: 10vh;
  height: 10vh;
  display: flex;
}

.head_title {
  margin-left:2vw; 
  width: 100%;
  height: 10vh;
  display: flex;
  justify-content: flex-start;
  font-family: 'SDSamliphopangche_Basic';
  font-size: 70px;
}

.head_title>p{
  margin-top:4vh;
  font-family: 'Pretendard-Regular';
  font-size:25px;
  animation: color 1s;
  animation-iteration-count: 100;
}

@keyframes color {
  0% {
    color:black;
  }
  /* 95% {
    color:red;
  } */
  to {
    color:#c5cafe;
  } 
}

@font-face {
  font-family: 'SLEIGothicTTF';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2104@1.0/SLEIGothicTTF.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'SDSamliphopangche_Basic';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts-20-12@1.0/SDSamliphopangche_Basic.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Pretendard-Regular';
  src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

.logo {
  width: 20%;
  height: 5vh;
  margin-top: 6vh;
  margin-right: 8vw;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}


.logo>.new>a>img {
  height:3vh;
  width:3vw;
  margin-right:-0.5vw;
  background-color: ghostwhite;
}

.logo>.new>img{
  height:3vh;
  width:3vw;
  /* margin:1vh 1vw; */
  background-color: ghostwhite;
}

.line_parent {
  margin-left:12vw;
  margin-right:8vw;
  width:80vw;
  height: 5vh;
  display: flex;
  justify-content: center;
}

.line {
  width: 100%;
  height: 5px;
  background-color: lightgray;
  margin-bottom: 5vh;
  border-radius:20px;
}

.challenge_categories {
  display: flex;
  align-items: center;
  height: 10vh;
}

.index_five_window {
  margin-left: 14vw;
  margin-right:10vw;
  min-width:105.3025px;
  min-height:61.82px;
  /* margin-top: 1vh; */
  width: 76vw;
  height: 10vh;
  max-height:62px;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: 'Pretendard-Regular';
}

.index_five_window_boxa {
  width: 100%;
  height: 80%;
  border:2px solid gray;
  margin-right:1vw;
  border-width: 2px;
  border-color: gray;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  color:black;
  font-weight: bold;
  font-size: 25px;
  border-radius: 10px;
}

.index_five_window_box {
  width: 100%;
  height: 80%;
  border:2px solid gray;
  border-width: 2px;
  border-color: gray;
  margin-right:1vw;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 25px;
  border-radius: 10px;

}

.index_five_window_box:hover{
  background-color:black;
  color:white;
}

.index_five_window_boxa:hover{
  background-color:black;
  color:white;
}

.emptyq {
  height: 30px;
}

.round-all {
  font-family: 'Pretendard-Regular';
  width: 80%;
  height: 55vh;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-start;
  padding: 3em;
  margin-left: 12vw;
  margin-right: 5vw;
}

.round {
  display: flex;
  flex-direction: column;
  margin-right: 3em;
  margin-bottom: 6em;
  width: 200px;
  height: 200px;
}

p {
  text-align: center;
}

.round > a {
  width: 100%;
  height: 100%;
}

.round > a > img {
  height: 100%;
  width: 100%;
  border-radius: 100%;
  border: 4px solid lightgray;
}

.nothing {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  border-radius: 100%;
  background-color: lightgray;
  /* text-align:center;  */
}

.plus {
  font-family: "EliceDigitalBaeum_Bold";
  font-size: 80px;
  color: white;
}
