.head_title {
    padding-top:10vh;
    height:10vh;
    display:flex;
    justify-content: center;
    font-family: 'EliceDigitalBaeum_Bold';
    font-size: 50px;
}

@font-face {
    font-family: 'EliceDigitalBaeum_Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/EliceDigitalBaeum_Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.logo {
    height:5vh;
    margin-right:5vw;
    display:flex;
    flex-direction: row;
    justify-content:flex-end;
}

.logo>img{
    margin:5px;
    background-color:ghostwhite;
}

.line_parent{
    display:flex;
    justify-content:center;
}

.line{
    width:90%;
    height:5px;
    background-color:gray;
    margin-bottom:5vh;
}

.round-all{
    font-family: 'EliceDigitalBaeum_Bold';
    height:100vh;
    display:flex;
    flex-wrap:wrap; 
    flex-direction: row; 
    justify-content: flex-start;
    padding:3em;
    margin-left:5vw;
    margin-right:5vw;
}


.round {
    display:flex;
    flex-direction:column;
    margin-right:3em;
    width: 300px;
    height: 300px;    

}

p{
    text-align:center;
}
.round > a {
    width: 100%;
    height: 100%;
}

.round > a > img {
    height:100%;
    width:100%;
    border-radius: 100%; 
    border: 4px solid lightgray; 
}


.nothing {
    display:flex;
    justify-content:center;
    align-items:center;
    height:100%;
    width:100%;
    border-radius: 100%;
    background-color: lightgray;
    /* text-align:center;  */
}

.plus{
    font-family: 'EliceDigitalBaeum_Bold';
    font-size: 80px;
    color:white;
}
