.block{
    position:absolute;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items: left;
    left:20%;
    width:60%;
    height:500px;
    font-family: 'EliceDigitalBaeum_Bold';
}


@font-face {
    font-family: 'EliceDigitalBaeum_Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/EliceDigitalBaeum_Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.title{
    margin-bottom:20px;
}

.period{
    margin-bottom:20px;
}

.method{

}