/* 
.head_title {
  margin-left:6vw;
  margin-top:6vh; 
  padding-top: 15vh;
  height: 15vh;
  display: flex;
  justify-content: center;
  font-family: 'SDSamliphopangche_Basic';
  font-size: 80px;
} */

@font-face {
  font-family: 'SLEIGothicTTF';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2104@1.0/SLEIGothicTTF.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'SDSamliphopangche_Basic';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts-20-12@1.0/SDSamliphopangche_Basic.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Pretendard-Regular';
  src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

form {
  margin-top:17vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.top{
  width:100vw;
  /* margin-left:10vw; */
  height:15vh;
  display:flex;
  
}

.title_div {
  display:flex;
  width: 65vw;
  height: 5vh;
}

.period_div {
  display:flex;
  margin-left:10vw;
  width: 90vw;
  height:15vh;
}

.method_div {
  margin-left:10vw;
  display:flex;
  border:none;
  width:90vw;
  height: 15vh;
}

.method_category_div {
  margin-left:10vw;
  display:flex;
  width:20vw;
  height: 5vh;
}

.title {
  height: 10vh;
  margin-right:3vw;
  font-family: 'Pretendard-Regular';
}

/* .topic_box{
    display:lex
    width:80%;
    height:30px;
} */

.title_box {
  background-color: lightgray;
  border-radius:10px;
  border:none;
  margin-bottom: 5vh;
  width: 80%;
  height: 50px;
  font-family: 'Pretendard-Regular';
}

.period {
  height: 10vh;
  margin-right:3vw;
  font-family: 'Pretendard-Regular';
}

.period_box {
  background-color: lightgray;
  border-radius:10px;
  border:none;
  margin-bottom: 5vh;
  width: 80%;
  height: 50px;
  font-family: 'Pretendard-Regular';
}

.method {
  height: 30vh;
  margin-right:3vw;
  font-family: 'Pretendard-Regular';
}

.method_box {
  background-color: lightgrey;
  border-radius:10px;
  border:none;
  margin-bottom: 5vh;
  width: 80%;
  height: 150px;
  font-family: 'Pretendard-Regular';
}

/* .buttony{
    margin-top:30px;
    display:flex;
    justify-content:center;
} */

.button__submit {
  margin-left:10vw;
  margin-top:10vh;
  transform: translateX(-50%);
  border: 2px solid lightgray;
  height: 6vh;
  width: 10vw;
  border-radius: 20px;
  font-size: 18px;
}

.button__submit:hover{
  background-color:BLACK;
  color:WHITE;
}