
.head_title {
  padding-top: 15vh;
  height: 100px;
  display: flex;
  justify-content: center;
  font-family: "EliceDigitalBaeum_Bold";
  font-size: 80px;
}

form {
  margin-top:10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.title_div {
  display:flex;
  width: 80%;
  height: 15vh;
}

.period_div {
  display:flex;
  width: 80%;
  height:15vh;
}

.method_div {
  display:flex;
  width: 80%;
  height: 30vh;
}

@font-face {
  font-family: "EliceDigitalBaeum_Bold";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/EliceDigitalBaeum_Bold.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

.title {
  height: 10vh;
  margin-right:3vw;
  font-family: "EliceDigitalBaeum_Bold";
}

/* .topic_box{
    display:lex
    width:80%;
    height:30px;
} */

.title_box {
  background-color: lightgray;
  margin-bottom: 5vh;
  width: 80%;
  height: 50px;
  font-family: "EliceDigitalBaeum_Bold";
}

.period {
  height: 10vh;
  margin-right:3vw;
  font-family: "EliceDigitalBaeum_Bold";
}

.period_box {
  background-color: lightgray;
  margin-bottom: 5vh;
  width: 80%;
  height: 50px;
  font-family: "EliceDigitalBaeum_Bold";
}

.method {
  height: 30vh;
  margin-right:3vw;
  font-family: "EliceDigitalBaeum_Bold";
}

.method_box {
  background-color: lightgray;
  margin-bottom: 5vh;
  width: 80%;
  height: 150px;
  font-family: "EliceDigitalBaeum_Bold";
}

/* .buttony{
    margin-top:30px;
    display:flex;
    justify-content:center;
} */

.button__submit {
  margin-left:10vw;
  margin-top:-10vh;
  transform: translateX(-50%);
  padding: 1rem;
  border: 2px solid lightgray;
  height: 6vh;
  width: 10vw;
  border-radius: 20px;
  font-size: 17px;
}
