{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="shortcut icon" href="{% static 'image/nada_logo_final.png' %}" >
    {% block css %}
    {% endblock css %}
    <title>{% block page_title %}{% endblock page_title %}</title>
</head>
<a href="#">
    <div class="top_button" style="position: fixed; bottom: 25px; right: 25px;">
        TOP
    </div></a>
<body>
    <header>
        {% block nav %}
            <div class="normal_nav">
                <div class="navigation_bar">
                    <div class="empty"></div>
                    <div class="nav_profile_box">
                        <div class="nav_profile">
                            <img class="imagea" src="{% static 'image/nav_profile.jpeg'%}"></img>
                            <div class="green_small_box">
                                <div class="green_small"></div>
                            </div>
                        </div>
                    </div>
                    <div class="empty"></div>
                    <a class="nav_category"  href="{% url 'portfolios:main' %}">
                        <div class="nav_boxbox">
                            <img class="imageaz" src="{% static 'image/logo_one.png'%}"></img>
                        </div>
                        <span class="nav_boxtitle">포트폴리오</span>
                        
                    </a>
                    <div class="empty"></div>
                    <a class="nav_category" href="{% url 'challenges:main' %}">
                        <div class="nav_boxbox" >
                            <img class="imageaz" src="{% static 'image/logo_eight.png'%}"></img>
                        </div>
                        <span class="nav_boxtitle">챌린지</span>
                    </a>
                    <div class="empty"></div>
                    <a class="nav_category" href="{% url 'repositories:main' %}">
                        <div class="nav_boxbox" >
                            <img class="imageaz" src="{% static 'image/logo_seven.png'%}"></img>
                        </div>
                        <span class="nav_boxtitle">보관함</span>
                        
                    </a>
                    <div class="empty"></div>
                    <a class="nav_category" href="{% url 'records:main' %}">
                        <div class="nav_boxbox" >
                            <img class="imageaz" src="{% static 'image/logo_six.png'%}"></img>
                        </div>
                        <span class="nav_boxtitle">기록</span>
                    </a>
                    <div class="empty"></div>
                    <a class="nav_category" href="{% url 'connects:main' %}">
                        <div class="nav_boxbox" >
                            <img class="imageaz" src="{% static 'image/logo_two.png'%}"></img>
                        </div>
                        <span class="nav_boxtitle">커넥트</span>
                    </a>
                    <div class="empty"></div>
                    <a class="nav_category" href="{% url 'users:main' %}">
                        <div class="nav_boxbox" >
                            <img class="imageaz" src="{% static 'image/logo_four.png'%}"></img>
                        </div>
                        <span class="nav_boxtitle">메인</span>

                    </a>
                    
                </div>
            </div>
            <div class="status-bar">
                <a href="{% url 'users:main' %}"><span class="main_logo">N A D A</span></a>
                <div class="status-bar_sub">
                    <div>
                        {% if request.user.is_authenticated %}
                        {% block profile %}
                        <div class="hello">
                            <span>{{user.username}}님, 안녕하세요</span>
                        </div>
                        {% endblock profile %}
                        {% endif %}
                    </div>
                    <button class="text_button">
                        <a href="{% url 'users:main' %}"><i class="far fa-comment-dots fa-3x"></i></a>
                        <div class="green_small_boxs">
                            <div class="green_smalls">N</div>
                        </div>
                    </button>
                    <button class="login_button">
                        {% block islogin %}
                        
                        {% endblock islogin %}
                    </button>
                    
                </div>
            </div>
            <div class="message_big">
                <div class="message">
                    <div id="qchat-screen">
                        <div class="qalt-header">
                            <div class="qalt-header__column">
                                <i class="aaa fas fa-angle-left fa-2x"></i>
                            </div>
                            <div class="qalt-header__column">
                                <h1 class="qalt-header__title">이두희</h1>
                            </div>
                            <div class="qalt-header__column">
                                <span><i class="bbb fas fa-search fa-lg"></i></span>
                            </div>
                        </div>
                        <main class="qmain-screen qmain-chat">
                            <div class="qchat__timestamp">Tuesday, june 30, 2020</div>
                        </main>
                        <div class="qmessage-row">
                            <img class="images" src="{% static 'image/nav_profile.jpeg'%}"></img>
                            <div class="qmessage-row__content">
                                <span class="qmessage__author">이두희</span>
                                <div class="qmessage__info">
                                <span class="qmessage__bubble qfirst-chat">Hi!</span>
                                <span class="qmessage__time">21:27</span>
                                </div>
                            </div>
                        </div>
                        <div class="qmessage-row qmessage-row--own">
                            <div class="qmessage-row__content">
                            <div class="qmessage__info">
                                <span class="qqmessage__bubble qsecond-chat">Hi! nice to meet you!</span>
                                <span class="qmessage__time">21:27</span>
                            </div>
                            </div>
                        </div>
                        </main>
                    
                        <from class="qreply">
                            <div class="qreply__column">
                                <input type="qtext" placeholder="대화 내용을 입력하세요" />
                                <i class="airplane far fa-paper-plane fa-lg"></i>
                            </div>
                        </from>
                    </div>
                </div>
            </div>
        {% endblock nav %}
    </header>

    {% block content%}{% endblock %}

    <script
    src="https://kit.fontawesome.com/4d118135bb.js"
    crossorigin="anonymous"
    ></script>
    <script>
        var navbar = document.querySelector(".navigation_bar")
        var titles = document.querySelectorAll(".nav_boxtitle")
        navbar.addEventListener("mouseover",function(e){
            titles.forEach(function(title){
                title.style.display="block"
                title.style.animationName = "navtitle-start"
                title.style.animationPlayState="running"

            })
        })
        navbar.addEventListener("mouseleave",function(e){
            titles.forEach(function(title){
                title.style.animationName = "navtitle-end"
                title.style.animationPlayState="running"
                title.style.display="none"
            })
        })

    </script>
</body>
</html>