{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    {% block css %}
    {% endblock css %}
    <title>{% block page_title %}{% endblock page_title %}</title>
</head>
<body>
    <header>
        {% block nav %}
            <div class="normal_nav">
                <div class="navigation_bar">
                    <div class="empty"></div>
                    <div class="nav_profile_box">
                        <div class="nav_profile">
                            <img class="imagea" src="{% static 'image/nav_profile.jpeg'%}"></img>
                            <div class="green_small_box">
                                <div class="green_small"></div>
                            </div>
                        </div>
                    </div>
                    <div class="empty"></div>
                    <i class="far fa-heart fa-2x"></i>
                    <div class="empty"></div>
                    <i class="far fa-heart fa-2x"></i>
                    <div class="empty"></div>
                    <i class="far fa-heart fa-2x"></i>
                    <div class="empty"></div>
                    <i class="far fa-heart fa-2x"></i>
                    <div class="empty"></div>
                    <i class="far fa-heart fa-2x"></i>
                    <div class="empty"></div>
                    <i class="fas fa-home fa-2x"></i>
                </div>
            </div>
        {% endblock nav %}
    </header>
    {% block left-bar %}
        <div class="left-bar__lists">
            <a href="{% url 'users:main' %}">Main</a>
            <a href="{% url 'portfolios:main' %}">Portfolio</a>
            <a href="{% url 'records:main' %}">Records</a>
            <a href="{% url 'challenges:main' %}">Challenge</a>
            <a href="{% url 'connects:main' %}">Connect</a>
            <a href="{% url 'repositories:main' %}">Repository</a>
        </div>
    {% endblock left-bar %}
    {% block content%}{% endblock %}

    <script
    src="https://kit.fontawesome.com/4d118135bb.js"
    crossorigin="anonymous"
    ></script>
</body>
</html>