{% extends "base.html" %}
{% load static %}
{% block nav %}{% endblock nav %}
{% block left-bar %}{% endblock left-bar %}
<head>
    {% block css %}
        <link rel="stylesheet" href="{% static 'css/users/intro.css' %}">
    {% endblock css %}
</head>
{% block page_title %} 나다 : NADA {% endblock %}
{% block content %}
<div class="status-bar">
    <span class="main_logo">N A D A</span>
    <div></div>
    <div></div>
    <button class="login_button"><a href="{% url 'users:login' %}">Log-in</a></button>
</div>
<div class="video-title">
    <div></div>
    <div class="video-title-main">
        <div class="video-title-main-title">N A D A</div>
        <div>가장 NADA운 나의 기록</div>
    </div>
</div>
<div class="videobox">
    <video
    class="main_video"
    autoplay
    loop
    muted
    preload="auto">
    <source src="{% static 'image/main_video.mp4'%}" type="video/mp4"></source>
</video>
</div>
<div class="index_two">
    <span>기능 소개</span>
</div>
<div class="index_three">
    <span>기능 소개</span>
</div>
<div class="index_four">
    <span>기능 소개</span>
</div>
<div class="index_five">
    <span>기능 소개</span>
</div>
<div class="index_six">
    <span>기능 소개</span>
</div>
<div class="index_seven">
    <span>기능 소개</span>
</div>
<footer class="footer">
    <div class="footer_info">안녕하세요</div>
</footer>
<script
    src="https://kit.fontawesome.com/4d118135bb.js"
    crossorigin="anonymous"
    ></script>
{% endblock content %}
