{% extends "base.html" %}
{% load static %}
{% block nav %}{% endblock nav %}
<head>
    {% block css %}
        <link rel="stylesheet" href="{% static 'css/users/intro.css' %}">
        <link rel="shortcut icon" href="{% static 'image/nada_logo_final.png' %}">
    {% endblock css %}
</head>
{% block page_title %} 나다 : NADA {% endblock %}
{% block content %}

<div class="status-bar">
    <span class="main_logo">N A D A</span>
    <div></div>
    <div></div>
    <button class="login_button"><a href="{% url 'users:login' %}">Log-in</a></button>
</div>
<div class="video-title">
    <div></div>
    <div class="video-title-main">
        <div class="video-title-main-title">N A D A</div>
        <div>가장 NADA운 나의 기록</div>
    </div>
</div>
<div class="video-titles">
    <div class="page_down">
        <i class="page_down_button fas fa-arrow-circle-down fa-2x"></i>
    </div>
</div>
<div class="videobox">
    <video
    class="main_video"
    autoplay
    loop
    muted
    preload="auto">
    <source src="{% static 'image/main.mp4'%}" type="video/mp4"></source>
</video>
<div class="index_two">
        <div class="index_two_logo_box">
            <img class="imagez" src="{% static 'image/intro_two_logo.png'%}"></img>
        </div>
        <span class="index_two_sub_title">나의 과거, 나의 현재, 나의 미래를 담은 기록</span>
        <span class="index_two_sub_title">가장 나다운 나를 기록할 수 있는, 나의 사이트 '나다'입니다.</span>
</div>
<div class="index_three">
    <div class="index_three_info">
        <div class="index_three_box">
            <div class="index_three_sub_one_title"></div>
            <div class="index_three_title">portfolio</div>
            <div class="index_three_sub_two_title"></div>
            <div class="index_three_sub_two_title">한 공간에서 모아볼 수 있는</div>
            <div class="index_three_sub_two_title"></div>
        </div>
        <div class="intro_portfolio_button">
            <span>Portfolio</span>
            <div class="arrowhome">
                <img class="imaget" src="{% static 'image/arrow.png'%}"></img>
            </div>
        </div>
    </div>
    <div class="index_three_window">
        <div class="index_three_real_window">
            <img class="imaget" src="{% static 'image/intro_two_logo.png.jpg'%}"></img>
        </div>
    </div>
</div>
<div class="index_four">
    <div class="index_four_left">
        <div class="index_four_left_imagebox">
            <img class="imagetq" src="{% static 'image/intro_challenge_image.jpg'%}"></img>
        </div>
    </div>
    <div class="index_four_right">
        <div class="index_four_right_text">
            <div class="index_four_box">
                <div class="index_four_title">challenge</div>
                <div class="index_four_sub_two_title">기간 내에 이루고 싶은 목표가 있나요?</div>
                <div class="index_four_sub_two_title">주저하지 말고, 나다에서 도전해보세요</div>
            </div>
        </div>
        <div class="intro_challenge_button">
            <span>Challenge</span>
            <div class="arrowhome">
                <img class="imaget" src="{% static 'image/arrow.png'%}"></img>
            </div>
        </div>
    </div>
</div>
<div class="index_five">
    <div class="index_five_info">
        <div class="index_five_box">
            <div class="index_five_title">
                <span>Record</span>
            </div>
            <div class="index_five_sub_two_title">기간 내에 이루고 싶은 목표가 있나요?</div>
            <div class="index_five_sub_two_title">주저하지 말고, 나다에서 도전해 보세요</div>
        </div>
        <div class="intro_record_button">
            <span>Record</span>
            <div class="arrowhome">
                <img class="imaget" src="{% static 'image/arrow.png'%}"></img>
            </div>
        </div>
    </div>
    <div class="index_five_window">
        <div class="index_five_real_window">
            <img class="imagetqqq" src="{% static 'image/computers.png'%}"></img>
            <div class="inner_video">
                <video
    class="main_videozzz"
    autoplay
    loop
    muted
    preload="auto">
    <source src="{% static 'image/record_video.mp4'%}" type="video/mp4"></source>
</video>
            </div>
        </div>
    </div>
</div>
<div class="index_six">
    <div class="index_six_left">
        <div class="index_six_left_circle">
            <img class="imaget" src="{% static 'image/six_left.png'%}"></img>
        </div>
    </div>
    <div class="index_six_fight">
        <div class="index_six_fight_text">다른 사람의 포트폴리오나,</div>
        <div class="index_six_fight_text">그 외에 저장하고 싶은 정보라면</div>
        <div class="index_six_fight_text">무엇이든 Repository에 넣어놓고</div>
        <div class="index_six_fight_text">원하는 순간 언제든 꺼내보세요.</div>
        <div class="intro_repo_button">
            <span>Repository</span>
            <div class="arrowhome">
                <img class="imaget" src="{% static 'image/arrow.png'%}"></img>
            </div>
        </div>
    </div>
</div>
<div class="index_seven">
    <div class="index_seven_title">
        <span class="index_seven_real_title">Connect</span>
        <div class="intro_connect_button">
            <span>Connect</span>
            <div class="arrowhome">
                <img class="imaget" src="{% static 'image/arrow.png'%}"></img>
            </div>
        </div>
    </div>
    <div class="videoboxz">
        <video
        class="main_videoz"
        autoplay
        loop
        muted
        preload="auto">
        <source src="{% static 'image/connect_real_video.mp4'%}" type="video/mp4"></source>
        </video>
    </div>
    <div class="index_seven_text">
        <span class="index_seven_textdowna">내가 가고자 하는 직무에 속한 현직자들의 포트폴리오를 참고해 봐요</span>
        <span class="index_seven_textdownb">또, 때론 다른 이들이 행한 챌린지를 참고해 봐도 좋아요!</span>
        <span class="index_seven_textdownc">그 다음엔, 나의 목표를 위한 활동을 찾고, 함께 할 스터디원을 모집해 보세요.</span>
    </div>
</div>
<div class="index_eight">
    <span class="index_eight_one">가장 나다운 순간들의 기록</span>
    <span class="index_eight_two">가장 나다운 서비스</span>
    <div class="index_eight_logo_box">
        <img class="imagez" src="{% static 'image/intro_two_logo.png'%}"></img>
    </div>
</div>
<div class="footer">
    <div class="footer_logo_box">
        <span class="footer_logo">NADA</span>
        <div class="footer_tag">
            <i class="fab fa-facebook-square fa-xs"></i>
            <i class="fab fa-instagram fa-xs"></i>
            <i class="fab fa-twitter fa-xs"></i>
            <i class="fab fa-google-play fa-xs"></i>
        </div>
    </div>
    <div class="footer_text">
        <span>인하대학교 멋쟁이사자처럼 중앙 해커톤</span>
        <span>Developer : 임예지, 손민혁, 이규원, 이승찬</span>
        <span>13 .08 2021</span>
    </div>
</div>
<script
    src="https://kit.fontawesome.com/4d118135bb.js"
    crossorigin="anonymous"
    ></script>
{% endblock content %}
