{% extends "base.html" %}
{% load static %}
<head>
    {% block css %}
        <link rel="stylesheet" href="{% static 'css/users/main.css' %}">
    {% endblock css %}
</head>
{% block page_title %} 나다 : NADA {% endblock %}
{% block nav %}{% endblock nav %}
{% block content %}
<div class="status-bar">
  <a href="{% url 'core:intro' %}"><span class="main_logo">N A D A</span></a>
  <div></div>
  <div></div>
  <button class="login_button"><a href="{% url 'users:login' %}">Log-out</a></button>
</div>
<div class="main_back">
  <img class="imagesqq" src="{% static 'image/mainback.png'%}"></img>
</div>
<div class="circle">
  <div></div>
  <div class="circle_box_one">
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <a class="line" href="{% url 'portfolios:main' %}">
      <div class="box box_one">
        <div class=" circle_one">
          포트폴리오
        </div>
      </div>
    </a>
    <a class="line" href="{% url 'challenges:main' %}">
      <div class="box box_two">
        <div class=" circle_two">
          CHALLENGE
        </div>
      </div>
    </a>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
  </div>
  <div class="circle_box_two">
    <div></div>
    <div></div>
    <a class="line" href="{% url 'repositories:main' %}">
      <div class="box box_three">
        <div class=" circle_three">
          보관함
        </div>
      </div>
    </a>
    <a class="line" href="{% url 'records:main' %}">
      <div class="box box_four">
        <div class=" circle_four">
          기록
        </div>
      </div>
    </a>
    <a class="line" href="{% url 'connects:main' %}">
      <div class="box box_five">
        <div class=" circle_five">
          CONNECT
        </div>
      </div>
    </a>
    <div></div>
    <div></div>
  </div>
</div>
<script
    src="https://kit.fontawesome.com/4d118135bb.js"
    crossorigin="anonymous"
    ></script>
{% endblock content %}
