{% extends "base.html" %}
{% load static %}
{% block nav %}{% endblock nav %}
{% block left-bar %}{% endblock left-bar %}
<head>
    {% block css %}
        <link rel="stylesheet" href="{% static 'css/users/main.css' %}">
    {% endblock css %}
</head>
{% block page_title %} 나다 : NADA {% endblock %}
{% block content %}
<div class="status-bar">
    <span class="main_logo">N A D A</span>
    <div></div>
    <div></div>
    <button class="login_button"><a href="{% url 'users:main' %}">Log-out</a></button>
</div>
<div class="circle">
  <div class="circle_box_one">
    <div></div>
    <div class="box">
      <div class=" circle_one">포트폴리오</div>
    </div>
    <div class="box">
      <div class=" circle_two">CHALLENGE</div>
    </div>
    <div></div>
  </div>
  <div class="circle_box_two">
    <div class="box">
      <div class=" circle_three">보관함</div>
    </div>
    <div class="box">
      <div class=" circle_four">기록</div>
    </div>
    <div class="box">
      <div class=" circle_five">CONNECT</div>
    </div>
  </div>
</div>

<script
    src="https://kit.fontawesome.com/4d118135bb.js"
    crossorigin="anonymous"
    ></script>
{% endblock content %}
