{% extends "base.html" %}
{% load static %}
<head>
    {% block css %}
        <link rel="stylesheet" href="{% static 'css/users/main.css' %}">
    {% endblock css %}
</head>
{% block page_title %} 나다 : NADA {% endblock %}
{% block nav %}{% endblock nav %}
{% block content %}
<div class="status-bar">
  <a href="{% url 'core:intro' %}"><span class="main_logo">N A D A</span></a>
  <div></div>
  <div></div>
  {% if user.is_authenticated %}
    <button class="login_button"><a href="{% url 'users:logout' %}">Log out</a></button>
  {% endif %}
  {% if user.is_authenticated is False %}
    <button class="login_button"><a href="{% url 'users:login' %}">Log In</a></button>
  {% endif %}
</div>
<div class="main_back"></div>
<div class="circle">
  <div></div>
  <div class="circle_box_one">
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <a class="line" href="{% url 'portfolios:main' %}">
      <div class="mother_one">
        <span class="oneone">포트폴리오</span>
        <div class=" circle_one">
          <div class="box box_one">
            <span class="box_one_text">인생 곡선을 담은 나만의 포트폴리오</span>
          </div>
        </div>
      </div>
    </a>
    <a class="line" href="{% url 'challenges:main' %}">
      <div class="mother_two">
        <span class="twotwo">CHALLENGE</span>
        <div class=" circle_two">
          <div class="box box_two">
            <span class="box_one_texta">
              <span>활동, 도전, 스크랩 모든 것을 담은</span>
              <span>나의 과거</span>
            </span>
          </div>
        </div>
      </div>
    </a>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
  </div>
  <div class="circle_box_two">
    <div></div>
    <div></div>
    <a class="line" href="{% url 'repositories:main' %}">
      <div class="mother_three">
        <span class="threethree">보관함</span>
        <div class=" circle_three">
          <div class="box box_three">
            <span class="box_one_texta">
              <span>참조하고 싶은 다른 유저의 NADA</span>
              <span>기록 보관함</span>
            </span>
          </div>
        </div>
      </div>
    </a>
    <a class="line" href="{% url 'records:main' %}">
      <div class="mother_four">
        <span class="fourfour">기록</span>
        <div class=" circle_four">
          <div class="box box_four">
            <span class="box_one_texta">
              <span>같은 꿈을 공유하는 사람들을</span>
              <span>만나는 공간</span>
            </span>
          </div>
        </div>
      </div>
    </a>
    <a class="line" href="{% url 'connects:main' %}">
      <div class="mother_five">
        <span class="fivefive">CONNECT</span>
        <div class=" circle_five">
          <div class="box box_five">
            <span class="box_one_text">새로운 목표 설정과 일일 기록</span>
          </div>
        </div>
      </div>
    </a>
    <div></div>
    <div></div>
  </div>
</div>
<script
    src="https://kit.fontawesome.com/4d118135bb.js"
    crossorigin="anonymous"
    ></script>
{% endblock content %}
