{% extends "base.html" %}
{% load static %}
<head>
    {% block css %}
        <link rel="stylesheet" href="{% static 'css/challenge/challenge_reading.css' %}">
    {% endblock css %}
</head>

{% block page_title %}독서 챌린지{% endblock page_title %}
{% block islogin %}
{% if request.user.is_authenticated %}
    <a href="{% url 'users:logout' %}">Log out</a>
{% endif %} 
{% if request.user.is_authenticated is False %}
    <a href="{% url 'users:login' %}">Log In</a>
{% endif %} 
{% endblock islogin %}
{% block content%}
<div class="outer">
    <div class="text">
        <div class="block">
            <div class="box-type">
                <div class="icon_box">
                    <div class="icon"><img src="{% static 'image/share.svg' %}" alt="img"/></img></div>
                    <div class="icon"><a href="http://www.facebook.com/"><img src="{% static 'image/facebook.svg' %}" alt="facebook"></img></a></div>
                    <div class="icon"><a href="http://www.instagram.com/"><img src="{% static 'image/instagram.svg' %}" alt="instagram"></img></a></div>
                </div>
                <div class="topic">독서 챌린지</div>
                <div class="title">제목 :   &nbsp;&nbsp;{{challenge.title}}</div>
                <div class="period">시작 :  &nbsp;&nbsp;{{challenge.start_date}}</div>
                <div class="period">종료 :  &nbsp;&nbsp;{{challenge.end_date}}</div>
                <div class="method">방법 :  &nbsp;&nbsp;{{challenge.detail}}</div>
                <div class="expl">
                    <div class="emo1"><img src="{% static 'image/good.png' %}"></img></div>
                    <div class="emo">챌린지 성공!!</div>
                    <div class="emo1"><img src="{% static 'image/soso.png' %}"></img></div>
                    <div class="emo">반만 성공..(?)</div>
                    <div class="emo1"><img src="{% static 'image/bad.png' %}"></img></div>
                    <div class="emo">내일은 꼭 성공하자!!</div>
                </div>
            </div>
            <!-- <div class="bar"></div> -->
        </div>
    </div>
    <div class="emoji-outer-box">
        <div class="emoji-explain">이모티콘을 클릭해보세요!</div>
        <div class="emoji-outer">
            {% for _ in period  %}
                <div class="emojy"><i class="far fa-smile icon fa-3x"></i></div>
                <ul class="menu">
                    <li>
                        <div class="emoji emoji--like">
                            <div class="emoji__hand">
                                <div class="emoji__thumb">
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="emoji emoji--love">
                            <div class="emoji__heart">
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="emoji emoji--wow">
                            <div class="emoji__face">
                                <div
                                    class="emoji__eyebrows">
                                </div>
                                <div class="emoji__eyes">
                                </div>
                                <div class="emoji__mouth">
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
                {% endfor %}
        </div>
    </div>
</div>
<script
    src="https://kit.fontawesome.com/4d118135bb.js"
    crossorigin="anonymous"
    ></script>
<!-- <script src="{% static 'js/portfolio.js' %}" ></script> -->
<script src="{% static 'js/emoji.js' %}" ></script>
{% endblock content%}