{% extends "base.html" %}
{% load static %}
{% block page_title %}나의 챌린지{% endblock page_title %}
{% block content%}

<head>
    {% block css %}
        <link rel="stylesheet" href="{% static 'css/challenge/challenge.css' %}">
    {% endblock css %}
</head>

<body>
<div class="head_title_all">
    <div class="head_title">나의 챌린지</div>
    <div class="logo">
        <img src="{% static 'image/facebook.svg' %}" alt="facebook"></img>
        <img src="{% static 'image/instagram.svg' %}" alt="instagram"></img>
        <img src="{% static 'image/share.svg' %}" alt="shareIcon"></img>
    </div>
</div>
<div class="line_parent"><div class="line"></div></div>
<div class="index_five_window">
        <div class="index_five_window_boxa"># 공부</div>
        <div class="emptyq"></div>
        <div class="index_five_window_box"># 건강</div>
        <div class="emptyq"></div>
        <div class="index_five_window_box"># 습관</div>
        <div class="emptyq"></div>
        <div class="index_five_window_box"># 독서</div>
        <div class="emptyq"></div>
        <div class="index_five_window_box"># 취미</div>
        <div class="emptyq"></div>
        <div class="index_five_window_box"># 업무</div>
        <div class="emptyq"></div>
</div>
<div class="round-all">
    <div class="round"><a href="{% url 'challenges:reading' %}"><img src="{% static 'image/challenge_reading.jpeg' %}" alt="img"/><p>매일 20페이지 읽기</p></a></div>
    <div class="round"><a href="{% url 'challenges:study' %}"><img src="{% static 'image/challenge_study.png' %}" alt="img"/><p>매일 1시간 공부</p></a></div>
    <div class="round"><a href="#"><img src="{% static 'image/challenge_alarmclock.jpeg' %}" alt="img"/><p>평일 오전 6시 기상</p></a></div>
    <div class="round"><a href="#"><img src="{% static 'image/challenge_alarmclock.jpeg' %}" alt="img"/><p>주 5일 1분 플랭크</p></a></div>
    <div class="round"><a href="#"><img src="{% static 'image/challenge_alarmclock.jpeg' %}" alt="img"/><p>아침 챙겨 먹기</p></a></div>
    <div class="round"><a href="#"><img src="{% static 'image/challenge_alarmclock.jpeg' %}" alt="img"/><p>TED 강연보기</p></a></div>
    <div class="round"><a href="{% url 'challenges:write' %}"><div class = "nothing"><div class="plus">+</div></div>
        <p>새로운 챌린지</p>
    </a></div>   
</div>

</dody>
{% endblock content%}