{% extends "base.html" %}
{% load static %}
<head>
    {% block css %}
        <link rel="stylesheet" href="{% static 'css/challenge/challenge_reading.css' %}">
    {% endblock css %}
</head>
{% block page_title %}독서 챌린지{% endblock page_title %}
{% block content%}
<div class="outer">
    <div class="text">
        <div class="block">
            <div class="box-type">
                <div class="img"><img src="{% static 'image/share.svg' %}" alt="img"/></div>
                <div class="topic">독서 챌린지</div>
                <div class="title">제목 :   {{challenge.title}}</div>
                <div class="period">기간 :  {{challenge.period}}</div>
                <div class="method">방법 :  {{challenge.method}}</div>
            </div>
            <div class="bar"></div>
        </div>
    </div>
    <div class="emoji">
    </div>
</div>
{% endblock content%}