{% extends "base.html" %}
{% load static %}
{% block nav %}{% endblock nav %}
{% block left-bar %}{% endblock left-bar %}
<head>
    {% block css %}
        <link rel="stylesheet" href="{% static 'css/challenge/challenge_reading.css' %}">
        <span>나의 챌린지</span>
    {% endblock css %}
</head>
{% block page_title %}독서 챌린지{% endblock page_title %}
{% block content%}

<div class="block">
    <div class="title">제목 :   30일동안 매일 20페이지 읽기</div>
    <div class="period">기간 :  2021년 7월 20일 ~ 2021년 8월 18일</div>
    <div class="method">방법 :  자기 전 핸드폰 멀리 두고 20페이지 이상 읽고 잠들 것</div>
</div>
{% endblock content%}