{% extends "base.html" %}
{% load static %}
{% block page_title %}나의 챌린지{% endblock page_title %}
{% block nav %}{% endblock nav %}
{% block left-bar %}{% endblock left-bar %}
<head>
    {% block css %}
        <link rel="stylesheet" href="{% static 'css/challenge/write_challenge.css' %}">
    {% endblock css %}
{% block content%}
    <div class="head_title">새로운 챌린지 작성란</div>

    
    <form id="write-challenge"action="" method="POST">
        {% csrf_token %}
        <label class="title" for="title">제목 : </label>
        <input class="title_box" name="title" type="text" placeholder="제목을 입력하세오"/>
        <label class="period" for="period">기간 : </label>
        <input class="period_box" name="period" type="text" placeholder="기간을 입력하세오"/>
        <label class="method" for="method">방법 : </label>
        <input class="method_box" name="method" type="text" placeholder="방법을 입력하세요"/>
        <button type="submit">등록하기</button>
    </form>
{% endblock content%}