.outer {
  z-index: 3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100vw;
  height: 500vh;
  margin-bottom:400px;
  margin-left:-5vw;
  /* margin-right:-5vw; */

}

@font-face {
  font-family: 'SLEIGothicTTF';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2104@1.0/SLEIGothicTTF.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'SDSamliphopangche_Basic';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts-20-12@1.0/SDSamliphopangche_Basic.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Pretendard-Regular';
  src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

.search {
  margin-top:30vh;
  margin-bottom:30vh;
  margin-left: 14vw;
  opacity: 0.8;
  width: 86vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.title {
  font-family: 'Pretendard-Regular';
  margin-top: 10%;
  height: 25vh;
  text-align: center;
  font-size: 50px;
}

.search_bar {
  width: 100%;
  height: 15vh;
  text-align: center;
}

.search_box {
  padding: 15px 20px;
  height: 40px;
  width: 60%;
  border-radius: 30px;
  font-size: 20px;
}

.portfolio {
  font-family: 'Pretendard-Regular';
  margin-left: 11vw;
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 86vw;
  height: 35%;
}

.challenge {
  margin-left:12vw;
  width: 88vw;
  height: 25%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.challenge_title {
  font-family: 'Pretendard-Regular';
  margin-top: 15vh;
  margin-bottom:0.5vh;
  /* margin-left:1vw; */
  /* margin-left: 6vw; */
  width: 90vw;
  height: 15%;
  font-size: 60px;
  text-align: center;
}

/* .challenge_smalltitle{
  font-family: 'Pretendard-Regular';
  width: 90vw;
  margin-bottom:8vh
  /* margin-left:2vw; 
  height: 14vh;
  font-size: 30px;
  text-align: center;
} */

.challenge_categories {
  /* margin-left:6vw; */
  /* margin-top: 5vh; */
  margin-left:3vw;
  display: flex;
  justify-content:center;
  padding: 0 10vw;
  /* margin-top:1vh; */
}

.challenge_category_boxes {
  font-family: 'Pretendard-Regular';
  font-size:25px;
  border: 2px solid gray;
  border-radius: 20px;
  width: 15vw;
  height: 2.5vh;
  text-align: center;
  padding: 1rem 1rem;
  margin-left:1vw;
}

.challenge_category_boxes:hover{
  background-color:black;
  color:white;
}

.cloud {
  display:flex;
  justify-content:center;
  width: 80vw;
  height: 75vh;
  margin-left: 3vw;
  /* margin-right:7vw; */
  margin-top: 5vh;
}

.cloud>img{
  width:100%;
  height:100%;
  border-radius:30px;
  margin-left:5vw;
  border:2px solid gray;
}


.detail_box>img{
  width:100%;
  height:100%;
}

.contest_exhibit {
  width: 88vw;
  height: 200vh;
  display: flex;
  flex-direction: column;
  margin-left: 12vw;
  margin-top: 10vh;
  /* justify-content:center; */
}

.detail_box>a {
  width: 100%;
  height: 100%;
}

.contest_exhibit_title {
  font-family: 'Pretendard-Regular';
  font-size:60px;
  text-align:center;
  margin-top: 15vh;
  width: 100%;
  height: 15%;
  /* margin-left:-3vw */
}

.contest_exhibit_title>p{
  margin-left:3vw;
  margin-bottom:-2vh;
}

.contest_exhibit_search {
  width: 100%;
  height: 10vh;
  margin-bottom: 2vh;
  text-align: center;
}

.profiles {
  display: flex;
  flex-direction: column;
  margin-left:-30vw;
  width: 90vw;
  height: 100vh;
}

.contest_exhibit_categories {
  display: flex;
  justify-content:space-evenly;
  align-items:center;
  width: 94vw;
  height: 10vh;
  margin-right:6vw;
  margin-bottom: 7vh;
  margin-top:2vh; 
  padding:1rem;
  background-color: lightgray;
}

.contest_exhibit_categories > ul {
  font-size:26px;
  font-family: 'Pretendard-Regular';
  padding: 0.5rem;
  /* margin:1rem; */}

.contest_exhibit_categories > ul:hover{
  color:white;
}
.contest_exhibit_subtitle {
  display: flex;
  font-family: 'Pretendard-Regular';
  width: 100%;
  height: 8vh;
  font-size: 50px;
  /* margin-top: 20px; */
}

.contest_exhibit_boxes {
  /* margin-left:-2vw; */
  margin-right:6vw;
  margin-bottom:5vh;
  display: flex;
  justify-content: space-between;
  width: 84vw;
  height: 50vh;
  /* padding: 1rem; */
}

.study_title {
  display: flex;
  font-family: 'Pretendard-Regular';
  width: 100%;
  height: 8vh;
  font-size: 50px;
  /* margin-top: 20px; */
}

.fa-chalkboard-teacher{
  margin-left:2vw;
  margin-top:3vh;
  width:8%;
  height:100%;
}

.study_title>p{
  width:92%;
  height:100%;
  /* padding:0.2rem;
  font-size:large; */

}

.fa-bullhorn{
  margin-top:3vh;
  margin-left:2vw;
  width:8%;
  height:100%;
}

.contest_exhibit>.contest_exhibit_title>p{
  width:92%;
  height:100%;
}

.contest_exhibit_subtitle>p{
  width:92%;
  height:100%;

}
.study_boxes {
  margin-top:-3vh;
  width: 100%;
  height: 50vh;
  padding: 1rem;
  display: flex;
  justify-content:flex-start;
  flex-wrap: wrap;
}


.border_categories {
  font-family: 'Pretendard-Regular';
  margin-left:4vw;
  border-left: 30vw;
  border-top: -5vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  /* padding:2vh; */
  /* padding:5rem; */
}

.portfolio_title {
  text-align: center;
  margin-top: 5vh;
  margin-bottom: 0.5vw;
  height: 15%;
  font-size: 60px;
}

.border_categories {
  border-left: 30vw;
  border-top: -5vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  /* padding:2vh; */
  /* padding:5rem; */
}

.border_categories>ul {
  margin-right:0.5vw;
  text-align: center;
  border: 2px solid gray;
  border-radius: 30px;
  margin-bottom:-0.5vw;
  padding: 1rem;
}

.border_categories>ul:hover {
  background-color: black;
  color:white;
}

.profiles {
  /* padding:0 10vw; */
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  margin-left:3vw;
  margin-bottom:5vh;
  margin-top:5vh;
  /* padding-left:3vw;
  padding-top:3vh; */
}

p {
  font-size: 30px;
}

.detail_box {
  z-index: 133;
  display: flex;
  flex-direction: column;
  width: 20vw;
  height: 50vh;
  margin-right:2vw;
  margin-bottom:3vh;
  border: 2px solid lightgray;
  border-radius: 20px;
  position: relative;
}

.detail_box_study {
  /* width: 18vw; */
  height: 22vh;
  /* margin-left:-2vw; */
  margin-right: 3vw;
  margin-bottom: 3vh;
  border: 4px solid lightgray;
  border-radius: 20px;
  padding:0.2rem;
}

.detail_box_photo{
  width:100%;
  height:30%;
  display:flex;
  justify-content:center;
} 

.detail_box>a>img {
  width: 100%;
  height: 70%;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom:2px solid gray;

}

.expln{
  /* font-family: 'Pretendard-Regular'; */
  font-family: 'SDSamliphopangche_Basic';
  font-size:40px;
  width:100%;
  height:20%;
  text-align:center;
  animation:hove 1s;
  margin-top:-3vh;
  position:absolute;
  animation-iteration-count: 100;
  top:-3vh
}

@keyframes hove{
  from{
    color:black;}
  to{
    color:#c5cafe;
  }
}

.detail_box>img {
  width: 100%;
  height: 70%;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom:2px solid lightgray;
}

.detail_box_text {
  font-family: 'Pretendard-Regular';
  font-size:large;
  width: 300px;
  height: 30%;
  padding:1rem;
}

.detail_box_texta {
  font-family: 'Pretendard-Regular';
  font-size:large;
  width: 300px;
  height: 30%;
  padding:1rem;
}

.tag {
  height: 20%;
  display: flex;
  justify-content: flex-start;
  margin-left: 10vw;
}


.detail_box_text>p1{
  font-size:larger;
  font-family: 'SDSamliphopangche_Basic';
  color:gray;
}

.detail_box_text>p2{
  font-size: large;
  font-family: 'Pretendard-Regular';
}
