.outer {
  z-index: 3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100vw;
  height: 400vh;
}

.search{
    /* margin:0 auto; */
    background-color:lightsteelblue;
    opacity:0.8;
    width:100%;
    height:25%;
    display:flex;
    flex-direction:column;
    justify-content: center;
}

.title{
    margin-top:10%;
    height:25vh;
    text-align:center;
    font-family:unset;
    font-size:50px;
}

.search_bar{
    width:100%;
    height:15vh;
    text-align:center;
}

.search_box{
    padding:10px 40px;
    height:50px;
    width:60%;
    border-radius:30px;
    font-size: 20px;
}

.portfolio{
    display:flex;
    flex-direction:column;
    background-color: mediumseagreen;
    width:100%;
    height:25%;
}

.challenge {
  background-color: mintcream;
  width: 100%;
  height: 25%;
  display: flex;
}

.contest_exhibit {
  background-color: olive;
  width: 100%;
  height: 25%;
  display: flex;
}

.portfolio {
  opacity: 0.5;
  display: flex;
  flex-direction: column;
  justify-content: center;
}


/* .portfolio_title_box{
    display:flex;
    justify-content:center;
} */

.portfolio_title{
    padding-left:30vw;
    margin-top:10vh; 
    height:20%;
    text-decoration-color: maroon ;
    font-size:70px;
}

.tag{
    height:20%;
    display:flex;
    justify-content:flex-start;
    margin-left:10vw;
}


.detail_box {
  height: 60%;
}
