.outer {
  z-index: 3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100vw;
  height: 400vh;
}

.search{
    /* margin:0 auto; */
    
    opacity:0.8;
    width:100%;
    height:20%;
    display:flex;
    flex-direction:column;
    justify-content: center;
}

.title{
    margin-top:10%;
    height:25vh;
    text-align:center;
    font-family:unset;
    font-size:50px;
}

.search_bar{
    width:100%;
    height:15vh;
    text-align:center;
}

.search_box{
    padding:10px 10px;
    height:40px;
    width:60%;
    border-radius:30px;
    font-size: 20px;
}

.portfolio{
    display:flex;
    justify-content:center;
    flex-direction:column;
    width:100%;
    height:35%;
}

.challenge {
  width: 100%;
  height: 25%;
  display: flex;
  flex-direction:column;
  justify-content:center;
}

.contest_exhibit {
  width: 100%;
  height: 25%;
  display: flex;
  flex-direction:column;
  justify-content:center;
}


.portfolio_title{
    text-align:center;
    margin-top:5vh; 
    margin-bottom:2vh;
    height:15%;
    font-size:60px;
}

.border_categories{
  border-left:30vw;
  border-top:-5vh;
  display:flex;
  flex-wrap:wrap;
  justify-content:flex-start;
  /* padding:2vh; */
  /* padding:5rem; */
}

ul{
  text-align:center;
  border:2px solid gray;
  border-radius:30px;
  padding:1rem;
}

.profiles{
  padding:0 10vw;
  display:flex;
  justify-content:flex-start;
  flex-direction:row;
  flex-wrap:wrap;
}

.detail_box{
  display:flex;
  flex-direction:column;
  margin-top:-30px;
  width:25vw;
  height:40vh;
  margin:5px 10px;
  border:2px solid gray;
  border-radius:20px;
}

img{
  width:100%;
  height:80%;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.detail_box_text{
  width:100%;
  height:20%;
  padding:0.5rem;
}

.tag{
    height:20%;
    display:flex;
    justify-content:flex-start;
    margin-left:10vw;
}


