.left_right_all_page {
  display: grid;
  width: 100%;
  height: auto;
  grid-template-columns: 1fr 20fr;
  grid-template-rows: 1fr;
}
.normal_nav {
  width: auto;
  height: auto;
}

.empty {
  height: 30px;
}
.index_two {
  width: 100%;
  height: 20vh;
  display: flex;
  justify-content: center;
}
.index_two_box {
  width: 80%;
  height: 20vh;
  border-bottom: black 2px solid;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
}
.index_two_box_title {
  font-size: 70px;
  font-family: "SDSamliphopangche_Basic";
}
.index_two_box_title_sub {
  margin-left: 3vh;
  margin-bottom: 1vh;
  font-size: 20px;
  font-family: "Pretendard-Regular";
}
.index_three {
  width: 100%;
  height: 80vh;
  background-color: white;
  display: grid;
  grid-template-columns: 5fr 9fr;
  grid-template-rows: 1fr;
}
.index_three_one_window {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
}
.profile_edit {
  width: 100%;
  height: 5vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1vh;
}
.profile_edit_main {
  width: 50%;
  height: auto;
  background-color: beige;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid gray;
  border-radius: 30px;
  font-size: 15px;
  font-weight: bolder;
}
.index_three_one_window_flex {
  flex-direction: row;
  margin-top: 5vh;
}
.name_doohee {
  height: 3vh;
  font-size: 50px;
}
.name_dooheeqq {
  height: 6.4vh;
  font-size: 50px;
}
.index_three_real_one_window {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40vh;
  height: 50vh;
  background-color: rgb(236, 236, 236);
  border-radius: 10px;
}
.index_three_real_one_window {
  right: 0px;
}
.image {
  width: 100%;
  height: 100%;
}
.index_three_window {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 11.5vh;
  margin-left: 5vh;
}
.index_three_real_window {
  width: 70%;
  height: 70%;
  display: flex;
  flex-direction: column;
}
.images {
  width: 30vh;
  height: 15vh;
}
.index_three_text {
  width: 70vh;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding-left: 2vh;
  padding-top: 2vh;
}
.index_three_text_one {
  font-size: 50px;
  font-family: "Pretendard-Regular";
}
.index_three_text_two {
  margin-top: 2vh;
  font-size: 30px;
  font-family: "Pretendard-Regular";
}
.index_three_text_three {
  margin-top: 2vh;
  font-size: 30px;
  font-family: "Pretendard-Regular";
}
.profile_first_page_right_nav {
  margin-right: 10vh;
}
.profile_first_page_right_nav_one {
  width: 40px;
  height: 40px;
  border-style: solid;
  border-width: 3px;
  border-color: black;
  border-radius: 9px;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0.5;
}
.profile_first_page_right_nav_two {
  width: 40px;
  height: 40px;
  border-style: solid;
  border-width: 3px;
  border-color: black;
  border-radius: 9px;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0.5;
}
.profile_first_page_right_nav_three {
  width: 40px;
  height: 40px;
  border-style: solid;
  border-width: 3px;
  border-color: black;
  border-radius: 9px;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0.5;
}
.index_four {
  width: 100%;
  height: 110vh;
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 1fr;
  font-family: "Pretendard-Regular";
}
.index_four_one_window {
  display: flex;
  justify-content: center;
  align-items: center;
}
.index_four_real_one_window {
  height: 80%;
  width: 90%;
  /* background-color: rgb(211, 211, 211); */
  background-color: #f8f8f8d7;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
}
.index_four_real_one_window_flex {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border-top: lightgray 2px solid;
  font-size: 20px;
  margin-left: 2vh;
}
.index_four_real_one_window_flexa {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border-top: lightgray 2px solid;
  border-bottom: lightgray 2px solid;
  font-size: 20px;
  margin-left: 2vh;
}
.index_four_window {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-left: 5vh;
}
.compare_box {
  width: 100%;
  height: 6vh;
  display: flex;
  justify-content: flex-end;
  margin-bottom: 5vh;
}
.compare {
  width: 13%;
  height: 6vh;
  background-color: rgb(202, 224, 223);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  margin-right: 10vh;
}
.index_four_real_window {
  width: 90%;
  height: 70%;
}
.index_four_real_windowqq {
  width: 90%;
  height: 70%;
  background-image: url("/static/image/muskgraph.png");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}
.index_five {
  width: 100%;
  height: 110vh;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Pretendard-Regular";
}
.index_five_title {
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.index_five_title_left {
  display: flex;
  flex-direction: row;
}
.index_five_title_one {
  font-size: 37px;
  font-weight: bold;
  font-family: "SDSamliphopangche_Basic";
}
.index_five_title_two {
  font-size: 32px;
}
.activity_add {
  width: 15vh;
  height: 5vh;
  background-color: rgb(202, 224, 223);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1vh;
  font-size: 20px;
  font-weight: bolder;
  border-radius: 10px;
}
.activity_addqq {
  width: 15vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1vh;
  font-size: 20px;
  font-weight: bolder;
  border-radius: 10px;
}
.index_five_window {
  width: 90%;
  height: 95vh;
  background-color: white;
  border-style: solid;
  border-width: 5px;
  border-color: black;
}
.activity_box {
  width: auto;
  padding-top: 40px;
  padding-left: 40px;
  height: 95%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  overflow-y: scroll;
}
.activity_graph {
  margin-top: px;
  margin-left: 30px;
  margin-right: 30px;
  width: 30vw;
  height: 80px;
  border-left: 2px solid gray;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.activity_graph__point {
  width: 20px;
  height: 20px;
  background-color: #c5cafe;
  opacity: 0.7;
  border-radius: 100%;
  position: absolute;
  left: -10px;
  top: -10px;
}
.activity_graph__year {
  width: auto;
  height: auto;
  position: absolute;
  left: 30px;
  top: 0px;
}
.activity_graph__line {
  width: 10px;
  height: 2px;
  background-color: gray;
}
.activity_date {
  width: 20vw;
  font-size: 12px;
  margin-right: 20px;
}
.activity_name {
  width: 25vw;
  font-size: 15px;
}
.index_six {
  width: 100%;
  height: 80vh;
  background-color: white;
  font-family: "Pretendard-Regular";
}
.index_six_title {
  width: 100%;
  height: 10vh;
  display: flex;
  margin-top: 10vh;
}
.index_six_title_text {
  width: 80%;
  height: 100%;
  background-color: white;
  margin-left: 10vh;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 37px;
  font-weight: bold;
  font-family: "SDSamliphopangche_Basic";
}
.index_six_window {
  height: 100%;
  width: 100%;
  background-color: white;
  display: flex;
  justify-content: center;
}
.index_six_real_window {
  height: 100%;
  width: 85%;
  background-color: white;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 4fr 3fr;
}
.index_six_real_window_grid_one {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 3fr 1fr;
}
.index_six_real_window_grid_one_up {
  display: flex;
  justify-content: center;
  align-items: center;
}
.index_six_real_window_grid_one_up_image {
  width: 90%;
  height: 90%;
  background-color: tomato;
  border-radius: 10px;
}
.index_six_real_window_grid_one_down {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
.index_six_real_window_grid_one_down_text {
  width: auto;
  height: auto;
  background-color: white;
  font-size: 20px;
  font-weight: bold;
}
.index_six_real_window_grid_two {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 3fr 1fr;
}
.index_six_real_window_grid_two_up {
  display: flex;
  justify-content: center;
  align-items: center;
}
.index_six_real_window_grid_two_up_image {
  width: 90%;
  height: 90%;
  background-color: tomato;
  border-radius: 10px;
}
.index_six_real_window_grid_two_down {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
.index_six_real_window_grid_two_down_text {
  width: auto;
  height: auto;
  background-color: white;
  font-size: 20px;
  font-weight: bold;
}
.index_six_real_window_grid_three {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 3fr 1fr;
}
.index_six_real_window_grid_three_up {
  display: flex;
  justify-content: center;
  align-items: center;
}
.index_six_real_window_grid_three_up_image {
  width: 90%;
  height: 90%;
  background-color: hsl(0, 0%, 50%);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 13vh;
  font-weight: 300;
}
.index_six_real_window_grid_three_down {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
.index_six_real_window_grid_two_down_text {
  width: auto;
  height: auto;
  background-color: white;
  font-size: 20px;
  font-weight: bold;
}
.fa-heart {
  color: rgba(0, 0, 0, 0.1);
}
.fa-heart:hover {
  color: red;
}
.fa-heart:active {
  color: red;
}
.hearttored {
  color: red;
}
form > input {
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
form > input:focus {
  border-bottom: 1px solid black;
}
form > button {
  margin-left: 10px;
}
input[type="number"] {
  width: 50px;
  margin-right: 10px;
}
#username {
  margin: 15px 0;
}
label[for="num2"] {
  margin-right: 3px;
}
@font-face {
  font-family: "SLEIGothicTTF";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2104@1.0/SLEIGothicTTF.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "SDSamliphopangche_Basic";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts-20-12@1.0/SDSamliphopangche_Basic.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Pretendard-Regular";
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff")
    format("woff");
  font-weight: 400;
  font-style: normal;
}
