.left_right_all_page {
  display: grid;
  width: 100%;
  height: auto;
  grid-template-columns: 1fr 20fr;
  grid-template-rows: 1fr;
}
.normal_nav {
  width: auto;
  height: auto;
}

.empty {
  height: 30px;
}
.index_three {
  width: 100%;
  height: 110vh;
  background-color: white;
  display: grid;
  grid-template-columns: 5fr 9fr;
  grid-template-rows: 1fr;
}
.index_three_one_window {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
}
.profile_edit {
  width: 100%;
  height: 5vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1vh;
}
.profile_edit_main {
  width: 50%;
  height: 100%;
  background-color: beige;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid gray;
  border-radius: 30px;
  font-size: 15px;
  font-weight: bolder;
}
.index_three_one_window_flex {
  flex-direction: row;
  margin-top: 19.5vh;
}
.name_doohee {
  height: 3vh;
  font-size: 50px;
}
.index_three_real_one_window {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40vh;
  height: 50vh;
  background-color: rgb(236, 236, 236);
  border-radius: 10px;
}
.index_three_real_one_window {
  right: 0px;
}
.image {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}
.index_three_window {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 26.5vh;
  margin-left: 5vh;
}
.index_three_real_window {
  width: 50vh;
  height: 30vh;
  background-color: rgb(236, 236, 236);
  border-radius: 10px;
}
.profile_first_page_right_nav {
  margin-right: 10vh;
}
.profile_first_page_right_nav_one {
  width: 40px;
  height: 40px;
  border-style: solid;
  border-width: 3px;
  border-color: black;
  border-radius: 9px;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0.5;
}
.profile_first_page_right_nav_two {
  width: 40px;
  height: 40px;
  border-style: solid;
  border-width: 3px;
  border-color: black;
  border-radius: 9px;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0.5;
}
.profile_first_page_right_nav_three {
  width: 40px;
  height: 40px;
  border-style: solid;
  border-width: 3px;
  border-color: black;
  border-radius: 9px;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0.5;
}
.index_four {
  width: 100%;
  height: 110vh;
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 1fr;
  border-top-style: dotted;
  border-top-width: 2px;
  border-top-color: black;
}
.index_four_one_window {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.index_four_real_one_window {
  height: 75%;
  width: 80%;
  background-color: rgb(211, 211, 211);
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
}
.index_four_real_one_window_flex {
  display: flex;
  justify-content: center;
  align-items: center;
  border-style: dotted;
  border-width: 2px;
  border-color: black;
}
.index_four_window {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-left: 15vh;
}
.compare {
  width: 20%;
  height: 7vh;
  background-color: gray;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
}
.index_four_real_window {
  width: 80%;
  height: 50%;
  background-color: gray;
}
.index_five {
  width: 100%;
  height: 110vh;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.index_five_title {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.index_five_title_one {
  font-size: 37px;
  font-weight: bold;
}
.index_five_title_two {
  font-size: 32px;
}
.index_five_window {
  width: 90%;
  height: 80vh;
  background-color: white;
  border-style: solid;
  border-width: 2px;
  border-color: black;
}
.index_six {
  width: 100%;
  height: 80vh;
  background-color: white;
}
.index_six_title {
  width: 100%;
  height: 10vh;
  display: flex;
  margin-top: 10vh;
}
.index_six_title_text {
  width: 80%;
  height: 100%;
  background-color: white;
  margin-left: 10vh;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 37px;
  font-weight: bold;
}
.index_six_window {
  height: 100%;
  width: 100%;
  background-color: white;
  display: flex;
  justify-content: center;
}
.index_six_real_window {
  height: 100%;
  width: 85%;
  background-color: white;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 4fr 3fr;
}
.index_six_real_window_grid_one {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 3fr 1fr;
}
.index_six_real_window_grid_one_up {
  display: flex;
  justify-content: center;
  align-items: center;
}
.index_six_real_window_grid_one_up_image {
  width: 90%;
  height: 90%;
  background-color: tomato;
  border-radius: 10px;
}
.index_six_real_window_grid_one_down {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
.index_six_real_window_grid_one_down_text {
  width: auto;
  height: auto;
  background-color: white;
  font-size: 20px;
  font-weight: bold;
}
.index_six_real_window_grid_two {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 3fr 1fr;
}
.index_six_real_window_grid_two_up {
  display: flex;
  justify-content: center;
  align-items: center;
}
.index_six_real_window_grid_two_up_image {
  width: 90%;
  height: 90%;
  background-color: tomato;
  border-radius: 10px;
}
.index_six_real_window_grid_two_down {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
.index_six_real_window_grid_two_down_text {
  width: auto;
  height: auto;
  background-color: white;
  font-size: 20px;
  font-weight: bold;
}
.index_six_real_window_grid_three {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 3fr 1fr;
}
.index_six_real_window_grid_three_up {
  display: flex;
  justify-content: center;
  align-items: center;
}
.index_six_real_window_grid_three_up_image {
  width: 90%;
  height: 90%;
  background-color: hsl(0, 0%, 50%);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 13vh;
  font-weight: 600;
}
.index_six_real_window_grid_three_down {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
.index_six_real_window_grid_two_down_text {
  width: auto;
  height: auto;
  background-color: white;
  font-size: 20px;
  font-weight: bold;
}
.fa-heart {
  color: rgba(0, 0, 0, 0.1);
}
.fa-heart:hover {
  color: red;
}
.fa-heart:active {
  color: red;
}
.hearttored {
  color: red;
}
