{% extends "base.html" %}
{% load static%}
{% block page_title %}
Log In
{% endblock page_title %}
{% block css %}
<head>
    <link rel="stylesheet" href="{% static 'css/users/login.css' %}">
</head>
{% endblock css %}
{% block left-bar %}
{% endblock left-bar %}
{% block nav %} {% endblock nav %}
{% block content %}

<div><button class=register>회원가입</button></div>
<div class="all">
    <h1>NADA</h1>
    <form action="{% url 'users:login' %}" method="POST">
    {% csrf_token %}
        <div class="input-box" >
            <input class=input-bar1 type="text" class="form-control" name = "username" placeholder="사용자 이름" aria-label="Recipient's username" aria-describedby="button-addon2">
            <button class=login-box type="submit">게스트 로그인</button>
            {% if error %}
                <span class="error">{{error}}</span>
            {% endif %}
        </div>
    </form>
    </div>
    
    
    {% endblock %}
    
    <input class=input-bar2 id="password" type="password" name="password" placeholder=" 비밀번호"> 
    <box class=forgot-box>아이디/비밀번호를 잊으셨나요?</box>