.portfolio_main {
  height: 280vh;
  width: 95vw;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  font-family: "Pretendard-Regular";
}

.index_two {
  width: 100%;
  height: 20vh;
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}
.index_two_box {
  width: 80%;
  height: 20vh;
  border-bottom: black 2px solid;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
}
.index_two_box_title {
  font-size: 70px;
}
.index_two_box_title_sub {
  margin-left: 3vh;
  margin-bottom: 1vh;
  font-size: 20px;
}
.image {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}
.left_right_all_page {
  display: grid;
  width: 100%;
  height: auto;
  grid-template-columns: 1fr 20fr;
  grid-template-rows: 1fr;
}
.empty {
  height: 30px;
}
.index_three {
  width: 100%;
  height: 100vh;

  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}
.index_three_title {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.index_three_title_one {
  width: 50vh;
  height: 15vh;
  color: white;
  font-size: 37px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
  background-image: url("/static/image/record_Back.png");
  font-size: 50px;
  position: relative;
  bottom: -7.5vh;
}
.index_three_title_two {
  font-size: 32px;
}
.index_three_window {
  width: 90%;
  height: 100%;
  background-color: white;
  border-style: solid;
  border-width: 5px;
  border-color: black;
  display: flex;
  flex-direction: column;
  justify-content: ;
  align-items: center;
  position: relative;
  padding-top: 60px;
}
.index_three_window_sixmother_title {
  font-size: 30px;
}
.index_three_window_sixmother {
  height: 70%;
  width: 80%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}
.index_three_window_box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.images {
  height: 100%;
  width: 100%;
}
.index_three_window_one {
  width: 90%;
  height: 60%;
  background-color: white;
  border-style: solid;
  border-width: 1px;
  border-color: rgb(181, 181, 181);
}
.index_three_window_one > img {
  width: 100%;
  height: 100%;
}
.index_three_window_under {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 5vh;
  position: absolute;
  bottom: 1px;
}
.index_four {
  width: 100%;
  height: 100vh;
  background-color: white;
}
.index_four_title {
  width: 100%;
  height: 10vh;
  display: flex;
  margin-top: 10vh;
  justify-content: space-between;
  align-items: center;
}
.index_four_title_text {
  background-color: white;
  margin-left: 10vh;
  font-size: 37px;
  font-weight: bold;
}
.index_four_title_date {
  margin-right: 10vh;
  font-size: 25px;
}
.index_four_window {
  height: 80%;
  background-color: white;
  display: flex;

  align-items: center;
  justify-content: center;
  overflow-x: scroll;
}
.index_four_real_window {
  height: 90%;
  width: 85%;
  background-color: white;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 3fr 3fr;
}
.index_four_real_window_grid_one {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 3fr 1fr;
}
.index_four_real_window_grid_one_up {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.index_four_real_window_grid_one_up_image {
  width: 90%;
  height: 70%;
  background-color: tomato;
  border-style: solid;
  border-width: 1px;
  border-color: rgb(181, 181, 181);
}
.index_four_real_window_grid_box {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
.index_four_real_window_grid_one_down {
  width: 90%;
  height: 80%;
  background-color: gray;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 20px;
  font-weight: bold;
  border-style: solid;
  border-width: 1px;
  border-color: rgb(181, 181, 181);
}
.index_four_real_window_grid_two {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 3fr 1fr;
}
.index_four_real_window_grid_two_up {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.index_four_real_window_grid_two_up_image {
  width: 90%;
  height: 70%;
  background-color: tomato;
  border-style: solid;
  border-width: 1px;
  border-color: rgb(181, 181, 181);
}
.index_four_real_window_grid_two_down {
  width: 90%;
  height: 80%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: gray;
  font-size: 20px;
  font-weight: bold;
  border-style: solid;
  border-width: 1px;
  border-color: rgb(181, 181, 181);
}
.index_four_real_window_grid_three {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 3fr 1fr;
}
.index_four_real_window_grid_three_up {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.index_four_real_window_grid_three_up_image {
  width: 90%;
  height: 70%;
  background-color: tomato;
  display: flex;
  border-style: solid;
  border-width: 1px;
  border-color: rgb(181, 181, 181);
}
.index_four_real_window_grid_three_down {
  width: 90%;
  height: 80%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: gray;
  font-size: 20px;
  font-weight: bold;
  border-style: solid;
  border-width: 1px;
  border-color: rgb(181, 181, 181);
}
.index_four_button {
  margin-top: 10vh;
  height: 8vh;
  width: 15vh;
}
.index_four_real_window_grid_six {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  width: 100%;
}
.index_four_real_window_grid_six_plus_box_plus_a {
  width: 8vh;
  height: 8vh;
}

.index_four_real_window_grid_six_plus_box_plus {
  width: 15vh;
  height: 8vh;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  font-weight: bold;
  color: rgb(112, 112, 112);
  border-style: solid;
  border-width: 4px;
  border-color: gray;
  background-color: white;
  box-shadow: 0.5vh 0.5vh 5px rgba(109, 109, 109, 0.5);
}
.index_four_real_window_grid_six_plus_box_plus:hover {
  background-color: beige;
}
.recbtn {
  margin-top: 30px;
  width: 90%;
  display: flex;
  justify-content: flex-end;
}
.empty {
  width: 2vh;
}
.index_five {
  width: 100%;
  height: 90vh;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.index_five_title {
  width: 100%;
  height: 10vh;
  display: flex;
  margin-top: 10vh;
  justify-content: space-between;
  align-items: center;
}
.index_five_title_text {
  background-color: white;
  margin-left: 10vh;
  font-size: 37px;
  font-weight: bold;
}
.index_five_title_date {
  margin-right: 10vh;
  font-size: 25px;
}
.index_five_title_one {
  font-size: 37px;
  font-weight: bold;
}
.index_five_title_two {
  font-size: 32px;
}
.index_five_window {
  margin-top: 5vh;
  width: 80%;
  height: 8vh;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.index_five_window_flex {
  width: 100%;
  height: 7vh;
  display: grid;
  grid-template-columns: 10fr 2fr 10fr 2fr 10fr 2fr 10fr 2fr 10fr 2fr 10fr 2fr 10fr;
  grid-template-rows: 1fr;
}
.index_five_window_box {
  width: 100%;
  height: 100%;
  border-style: solid;
  border-width: 2px;
  border-color: gray;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 25px;
  border-radius: 10px;
}
.index_five_window_box:hover {
  color: white;
  background-color: black;
}
.under_bar {
  width: 85%;
  height: 10px;
  background-color: black;
  margin-top: 10px;
}
.under_box {
  margin-top: 8vh;
  height: 40vh;
  width: 82%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 8fr 1fr;
}
.under_box_boxa {
  display: flex;
  justify-content: center;
}
.under_box_one,
.under_box_two,
.under_box_three {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.under_box_five,
.under_box_six,
.under_box_seven {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
  font-size: 25px;
  height: 15vh;
  margin-top: 2vh;
}
.level_box {
  width: 70%;
  height: 3vh;
  border: lightgray 1px solid;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border-radius: 10px;
}
.levela {
  width: 60%;
  height: 3vh;
  background-color: skyblue;
  /* border-right: black 1px solid; */
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}
.levelb {
  width: 52%;
  height: 3vh;
  background-color: orange;
  /* border-right: black 1px solid; */
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}
.levelc {
  width: 31%;
  height: 3vh;
  background-color: pink;
  /* border-right: black 1px solid; */
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}
.under_box_one,
.under_box_two,
.under_box_three {
  width: 35vh;
  height: 35vh;
  border-radius: 100%;
  border-style: solid;
  border-width: 2px;
  border-color: gray;
  background-image: url("/static/image/booksss.jpeg");
  background-size: 170%;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}
.complete {
  width: 100%;
  height: 20%;
  z-index: 100;
  font-size: 45px;
  font-weight: bolder;
  color: white;
  background-color: black;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  opacity: 0.7;
}
.under_box_one:hover {
  opacity: 0.6;
}
.under_box_two:hover {
  opacity: 0.6;
}
.under_box_three:hover {
  opacity: 0.6;
}
.index_five_button {
  width: 85%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}
.index_six {
  margin-top: 30vh;
  width: 100%;
  height: 80vh;
  background-color: white;
}
.index_six_title {
  width: 100%;
  height: 10vh;
  display: flex;
  margin-top: 10vh;
  justify-content: space-between;
  align-items: center;
}
.index_six_title_text {
  background-color: white;
  margin-left: 10vh;
  font-size: 37px;
  font-weight: bold;
}
.index_six_title_date {
  margin-right: 10vh;
  font-size: 25px;
}
.index_six_window {
  height: 100%;
  width: 100%;
  background-color: white;
  display: flex;
  justify-content: center;
}
.index_six_real_window {
  height: 100%;
  width: 85%;
  background-color: white;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 4fr 3fr;
}
.index_six_real_window_grid_one {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 3fr 1fr;
}
.index_six_real_window_grid_one_up {
  display: flex;
  justify-content: center;
  align-items: center;
}
.index_six_real_window_grid_one_up_image {
  width: 90%;
  height: 90%;
  background-color: tomato;
  border-radius: 10px;
  border-style: solid;
  border-width: 1px;
  border-color: black;
}
.index_six_real_window_grid_one_down {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
.index_six_real_window_grid_one_down_text {
  width: auto;
  height: auto;
  background-color: white;
  font-size: 20px;
  font-weight: bold;
}
.index_six_real_window_grid_two {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 3fr 1fr;
}
.index_six_real_window_grid_two_up {
  display: flex;
  justify-content: center;
  align-items: center;
}
.index_six_real_window_grid_two_up_image {
  width: 90%;
  height: 90%;
  background-color: tomato;
  border-radius: 10px;
  border-style: solid;
  border-width: 1px;
  border-color: black;
}
.index_six_real_window_grid_two_down {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
.index_six_real_window_grid_two_down_text {
  width: auto;
  height: auto;
  background-color: white;
  font-size: 20px;
  font-weight: bold;
}
.index_six_real_window_grid_three {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 3fr 1fr;
}
.index_six_real_window_grid_three_up {
  display: flex;
  justify-content: center;
  align-items: center;
}
.index_six_real_window_grid_three_up_image {
  width: 90%;
  height: 90%;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 13vh;
  font-weight: 600;
  border-style: solid;
  border-width: 1px;
  border-color: black;
}
.index_six_real_window_grid_three_down {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
.index_six_real_window_grid_two_down_text {
  width: auto;
  height: auto;
  background-color: white;
  font-size: 20px;
  font-weight: bold;
}
.index_six_button {
  margin-top: 10vh;
  height: auto;
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
.index_six_real_window_grid_six_plus_box_plus {
  width: 15vh;
  height: 8vh;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  font-weight: bold;
  color: rgb(112, 112, 112);
  border-style: solid;
  border-width: 4px;
  border-color: gray;
  background-color: white;
  box-shadow: 0.5vh 0.5vh 5px rgba(109, 109, 109, 0.5);
}
.fa-heart {
  color: rgba(0, 0, 0, 0.1);
}
.fa-heart:hover {
  color: red;
}
.fa-heart:active {
  color: red;
}
.hearttored {
  color: red;
}
.portbox {
  height: 50%;
  display: flex;
  overflow: scroll;
}
.port {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: ;
}
.port_img {
  margin-left: 20px;
  width: 300px;
  height: 100%;
}
.topbar {
  width: 90%;
  display: flex;
}
.topbar > p {
  width: 33%;
  text-align: center;
}
.listbox {
  width: 33%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.listbox > i {
  margin-right: 15px;
}
@font-face {
  font-family: "SLEIGothicTTF";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2104@1.0/SLEIGothicTTF.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "SDSamliphopangche_Basic";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts-20-12@1.0/SDSamliphopangche_Basic.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Pretendard-Regular";
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff")
    format("woff");
  font-weight: 400;
  font-style: normal;
}
